.colorWrap
  display: flex
  flex-direction: column
  width: 78%
  margin: 0 0 15px 0
  span
    font-size: 13px
    margin: 0 0 8px 0
  div
    display: flex
    justify-content: space-between
    width: 87%
    .circleColor
      position: relative
      width: 20px
      height: 20px
      border-radius: 50%
      cursor: pointer
      z-index: 2
    .circleColor:hover:before
      content: ''
      width: 100%
      height: 100%
      border-radius: 50%
      background: rgba(1, 1, 1, 0.2)
      z-index: 1
    .circleColorChosen
      width: 20px
      height: 20px
      background: rgba(1, 1, 1, 0.2)
      border-radius: 50%
      z-index: 2