.colorWrap
  display: flex
  flex-direction: column
  width: calc(77% + 6px)
  margin: 0 0 15px 0
  .title
    font-size: 13px
    margin: 0 0 8px 3px
  div
    display: flex
    justify-content: space-between
    width: 100%
    .circleColorWrap
      display: flex
      justify-content: center
      align-items: center
      width: 30px
      height: 30px
      &:hover
        background: rgba(1, 1, 1, 0.2)
        border-radius: 50%
    .circleColor
      position: relative
      display: flex
      justify-content: center
      align-items: center
      width: 20px
      height: 20px
      border-radius: 50%
      cursor: pointer
      z-index: 2
    .chosenColorWrap
      background: rgba(1, 1, 1, 0.2)
      border-radius: 50%
.minify // for filter context menu
  width: 190px
  height: 40px
  position: relative
  margin: 0 0 0 30px
  .title
    font-size: 11px
    margin: 5px 0 5px 0
    position: static
  div
    width: 95%
    .circleColorWrap
      width: 15px
      height: 15px
    .circleColor
      width: 11px
      height: 11px
@media (max-width: 1420px)
  .colorWrap
    div
      .circleColor
        width: 16px
        height: 16px
      .circleColorWrap
        width: 24px
        height: 24px
        span
          font-size: 12px
  .minify
    div
      .circleColor
        width: 11px
        height: 11px
      .circleColorWrap
        width: 15px
        height: 15px

@media (max-height: 820px)
  .colorWrap
    div
      .circleColor
        width: 16px
        height: 16px
      .circleColorWrap
        width: 24px
        height: 24px
        span
          font-size: 12px
  .minify
    div
      .circleColor
        width: 11px
        height: 11px
      .circleColorWrap
        width: 15px
        height: 15px
