.flex_row.colorWrap
  flex-direction: row
  align-items: center
  margin: 0
  white-space: nowrap
  .title
    font-size: 12px
    line-height: 14px
    margin: 0 10px 0 0
.colorWrap
  display: flex
  flex-direction: column
  width: calc(87% + 6px)
  margin: 0 0 5px 0
  .title
    font-size: 13px
    margin: 0 0 8px 3px
  div
    display: flex
    justify-content: space-between
    width: 100%
    .circleColorWrap
      display: flex
      justify-content: center
      align-items: center
      width: 30px
      height: 30px
      &:hover
        background: #EEEEEE
        border-radius: 50%
        border: 1px solid #4086F1
    .circleColor
      position: relative
      display: flex
      justify-content: center
      align-items: center
      width: 20px
      height: 20px
      border-radius: 50%
      cursor: pointer
      z-index: 2
    .chosenColorWrap
      background: #EEEEEE
      border-radius: 50%
      border: 1px solid #4086F1
.minify // for filter context menu
  width: 190px
  height: 40px
  position: relative
  margin: 0 0 0 30px
  .title
    font-size: 11px
    margin: 5px 0 5px 0
    position: static
  div
    width: 95%
    .circleColorWrap
      width: 15px
      height: 15px
    .circleColor
      width: 11px
      height: 11px

@media (max-height: 720px)
  .colorWrap
    div
      .circleColor
        width: 16px
        height: 16px
      .circleColorWrap
        width: 24px
        height: 24px
        span
          font-size: 12px
  .minify
    div
      .circleColor
        width: 11px
        height: 11px
      .circleColorWrap
        width: 15px
        height: 15px
