.tasksGroup
  padding: 10px 20px
  min-height: 40px
  display: flex
  align-items: center
  justify-content: space-between
  border-bottom: 0.75px solid #DFDFDF
  font-size: 13px
  cursor: pointer
  &:hover
    background: #EBF2FD
  .playButton
    transform: rotateZ(-90deg)
    cursor: pointer
    margin: 0 10px 0 10px
    width: 8px
    &:hover path
      fill: #477DE1

.tasksGroupOpen
  background: #EBF2FD
  .playButton
    transform: rotateZ(90deg)
    cursor: pointer
    margin: 0 10px 0 10px
    width: 8px
    path
      fill: #477DE1



.subeventsShow
  display: block

.subeventsHide
  display: none