.workLinesPreviewWrap
  display: flex
  justify-content: center
  width: 100%
  max-height: 100%
  overflow: hidden
  box-sizing: border-box
  padding: 0
  .fileListWrap::-webkit-scrollbar-track
    background: #0A3AAB
  .fileListWrap::-webkit-scrollbar-track
    -webkit-box-shadow: none
    background-color: #F5F5F5
  .fileListWrap::-webkit-scrollbar
    width: 3px
    background-color: #FFFFFF
  .fileListWrap::-webkit-scrollbar-thumb
    background-color: #4086F1
  .fileListWrap
    display: flex
    align-items: center
    flex-direction: column
    min-width: 310px
    overflow-x: hidden
    overflow-y: scroll
    height: 100%
    border-right: 1px solid lightgrey
  .filePreviewWrap
    position: relative
    width: 120px
    height: 140px


.previewFileWrap
  flex-grow: 1
  height: 100%
  overflow-x: hidden
  overflow-y: auto
  &::-webkit-scrollbar-track
    background: #0A3AAB
  &::-webkit-scrollbar-track
    -webkit-box-shadow: none
    background-color: #F5F5F5
  &::-webkit-scrollbar
    width: 8px
    background-color: #FFFFFF
  &::-webkit-scrollbar-thumb
    background-color: #4086F1

  .previewHeader
    position: relative
    display: flex
    justify-content: space-between
    padding: 15px 25px 15px 20px

    .previewTitle
      font-family: 'SF Pro Medium'
      margin: 0
      font-size: 16px
      line-height: 25px
      color: #595959

  .actionBlock
    display: flex
    align-items: center

    .activeBtn
      background: #4086F1
      svg path
        transition: all 0.3s ease
        fill: #FFFFFF
    
    .actionBtn
      width: 25px
      height: 25px
      margin-left: 15px
      display: flex
      justify-content: center
      align-items: center
      transition: all 0.3s ease
      &:hover
        background: #4086F1
        border-radius: 3px
        transition: all 0.3s ease
        svg path
          transition: all 0.3s ease
          fill: #FFFFFF


.previewContent
  padding: 25px 25px 0 25px
  position: relative

  .previewImg
    display: flex
    justify-content: center
    .canvas
      border: none

  .commentBlock
    margin-top: 34px

    .addCommentBlock
      display: flex
      align-items: center
      
      .commentInput
        margin-left: 17px
        background: #F9F9F9
        border: none
        &::placeholder
          font-size: 12px
          line-height: 25px
          color: #8A8A8A

    .commentContent
      margin: 24px 68px 0 68px
      display: flex
      flex-direction: column

      .commentItem
        margin-bottom: 28px
        display: flex
        align-items: flex-start

        .commentAvatar
          width: 26px
          height: 26px
          border-radius: 50%

        .commentText
          margin: 5px 0 0 13px
          font-size: 12px
          line-height: 18px
          color: #595959
          font-family: 'SF Pro Regular'

