.wrapper
  width: 489px
  min-height: 251px
  padding-bottom: 10px
  position: relative
  font-family: 'SF Pro Medium', sans-serif

  .top
    display: flex
    align-items: center
    justify-content: flex-end
    padding: 10px

.content
  padding: 10px 20px
  text-align: center

  .titleWrap
    text-align: center
    .titleImg
      width: 45px
      height: 45px
    .title
      margin: 0 0 26px 0
      font-size: 18px
      line-height: 25px
      color: #2B353E


  .imageWrap
    text-align: center
    margin-bottom: 20px
    .image
      max-width: 112px

  .textWrap
    text-align: center
    margin-bottom: 32px
    .text
      font-size: 12px
      line-height: 21px
      color: #4F555B

  .actionBlock
    display: flex
    justify-content: center
    align-items: center
    margin-top: 15px
    .submitBtn, .cancelBtn, .editBtn
      border-radius: 3px
      background: #4086F1
      font-size: 13px
      line-height: 18px
      color: #fff
      //box-shadow: 0 2px 4px #DFDFDF
      margin: 0 5px
      font-family: 'SF Pro Light', sans-serif
    .submitBtn
      width: 142px
    .cancelBtn
      width: 135px
      background: #F5F5F5
      color: #A4A4A4


.closeWrap
  position: absolute
  top: 15px
  right: 15px

.close
  width: 20px
  height: 20px
  cursor: pointer
  position: relative

  .times
    &:before
      content: ''
      position: absolute
      top: 0
      right: 8px
      width: 2px
      height: 18px
      border-radius: 10px
      background: #C7C7C7
      transform: rotate(45deg)
    &:after
      content: ''
      position: absolute
      top: 0
      right: 8px
      width: 2px
      height: 18px
      border-radius: 10px
      background: #C7C7C7
      transform: rotate(-45deg)
