.fc {
    height: auto;
}

.fc-scrollgrid {
    border: none!important;
}

.fc-theme-standard th {
    border: none;
}

.fc-view-harness {
    height: calc(45px * 24 + 30px)!important;
}

.fc .fc-daygrid-day.fc-day-today {
    background-color: transparent;
}

.fc .fc-scroller {
    overflow: hidden!important;
}

.fc .fc-timegrid-col.fc-day-today {
    background-color: transparent;
}

.fc .fc-timegrid-slot {
    height: 45px;
}

.fc-timegrid-slots table tr td:first-child {
    border: none;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fc-timegrid-event {
    background: none;
    border: none;
}