.wrapper
    font-size: 15px
    padding-bottom: 20px
    border-bottom: 1px solid #E5E5E5
    .topPanel
        display: flex
        justify-content: space-between
        align-items: center
        border-bottom: 1px solid
        border-color: inherit
        padding: 25px
        .button
            color: #4086F1
            padding: 0
            margin-left: 10px
            &:hover
                color: #3b6dcb
        .text
            margin: 0
            cursor: default
        .backButtonWrapper
            display: flex
            align-items: center
            cursor: pointer
            svg
                path
                    fill: #CFCFCF
            &:hover
                .button
                    color: #3b6dcb
                svg
                    path
                        fill: #3b6dcb
    .colorPicker
        display: flex
        align-items: center
        justify-content: center
        .colorWrapper
            margin: 8px 5px 0 5px
            cursor: pointer
            align-self: stretch
            display: flex
            flex-direction: column
            justify-content: space-between
            .flexWrapper
                display: flex
                align-items: center
                font-size: 13px
                margin: 10px 0
                .colorName
                    margin: 0
                .radio
                    width: 20px
                    height: 20px
                    border-radius: 50%
                    border: 1px solid #979797
                    margin-right: 10px
                    cursor: pointer
                    &.chosen
                        background: #50AE1D
            .colorPreview
                width: 130px
                height: 40px
                border-radius: 10px
                border: 1px solid #fff
                filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.15))

.wrapper.darkTheme
    border-color: #4E4E4E
