.wrapper
  position: relative
  padding: 10px 0

.headerBlock
  display: flex
  align-items: center
  padding: 20px

  .date
    font-size: 14px
    line-height: 19px
    color: #606060
    margin-right: 20px

  .headerBtnWrap
    position: relative

    .badge
      position: absolute
      display: flex
      align-items: center
      justify-content: center
      right: -5px
      top: 0
      width: 14px
      height: 14px
      border-radius: 50%
      background: #D72419
      font-size: 10px
      line-height: 13px
      color: #ffffff

    .headerBtn
      margin-left: 10px
      display: block
      min-width: 121px
      height: 32px

      font-size: 12px
      line-height: 16px
      color: #666666
      border-radius: 16px
      box-shadow: -1px 2px 5px #DFDFDF

      &:hover
        transition: all 0.2s ease
        background: rgba(64, 134, 241, 0.1)


.list
  width: 100%
  display: flex
  flex-direction: column

  .listItem
    display: flex
    align-items: center
    width: 100%
    &:first-child
      border-top: 1px solid #DFDFDF
    .hourItem
      min-height: 45px
      flex-grow: 1
      border-bottom: 1px solid #DFDFDF

  .listItemActive
    display: flex
    align-items: flex-start
    width: 100%
    border-top: 1px solid #DFDFDF
    border-bottom: 1px solid #DFDFDF
    .hourItem
      min-height: 45px
      height: 100%
      flex-grow: 1
      border-bottom: none

  .hour
    display: flex
    justify-content: center
    align-items: center
    font-size: 11px
    line-height: 15px
    color: #49494B
    min-width: 45px
    min-height: 45px