@import 'theme/colors'
  
.newMailWrap
  display: flex
  flex-direction: column
  align-items: center
  .customInput
    position: relative
    min-height: 60px
    border-bottom: 1px solid $color-border-grey
    font-size: 13px
    width: 100%
    display: flex
    .text
      position: absolute
      min-width: 60px
      display: flex
      align-items: center
      top: 50%
      transform: translateY(-50%)
      left: 30px
    input
      font-family: "SF Pro Light"
      width: 100%
      border: none
      padding-left: 90px
  .textArea
    width: 100%
    height: 280px
    textarea
      font-family: "SF Pro Light"
      padding: 20px 30px
      width: 100%
      height: 100%
      resize: none
      border: none
      outline: none