.listWrap
  display: flex
  flex-direction: column
  height: 100%
  width: 310px
  border-right: 1px solid #e5e5e5
  .header
    display: flex
    justify-content: space-between
    align-items: center
    width: 100%
    padding: 0 22px
    border-bottom: 1px solid #e5e5e5
    box-sizing: border-box
    height: 67px
    span
      font-family: "SF Pro Bold", sans-serif
      font-size: 15px
      letter-spacing: 0.2px
  .imgWrap
    display: flex
    align-items: center
    .playButton
      margin: 0 18px 0 0
      cursor: pointer
  .children
    height: calc(100% - 67px)
