.chatBoardWrap
  display: flex
  flex-direction: column
  height: 100%
  width: 100%
  justify-content: space-between
  
  .chatBoardMessageList
    display: flex
    width: 100%
    flex-grow: 1
    overflow-y: hidden
    .chatArea
      width: calc(100% - 200px)
      overflow: scroll
      .addFirstContactIcon
        margin: 45px 0 0 8px
      .collapsedMenu
        margin-top: -20px

  .chatBoardFooter
    display: flex
    align-items: flex-end
    justify-content: space-between
    width: 100%
    border-top: 1px solid #DFDFDF
    box-sizing: border-box
    padding: 15px 15px 35px
    .downloadOptions
      display: flex
      align-items: flex-end
      align-self: stretch
      position: relative
      padding: 8px 10px
      justify-content: center
      &:after
        content: ""
        position: absolute
        width: 1px
        height: 44px
        bottom: -5px
        right: 0
        background: #DFDFDF
      svg
        width: 20px
        min-height: 20px
        margin: 0 10px 0 0
        cursor: pointer
    .textMessage
      display: flex
      align-items: flex-end
      align-self: stretch
      justify-content: space-between
      width: 80%
      padding: 4px 30px 4px 20px
      position: relative
      &:after
        content: ""
        position: absolute
        width: 1px
        height: 44px
        bottom: -5px
        right: 30px
        background: #DFDFDF
      .messageImg
        margin: 0 30px 0 0
        width: 22px
        height: 22px
        padding: 2px 0
        path
          fill: #DCDCDC
      .messageImg.active
        cursor: pointer
        path
          fill: #4086F1
      .textInput
        width: 90%
        font-size: 15px
        font-family: "SF Pro Regular", sans-serif
        border: none
        outline: none
        resize: none
        height: 25px
        line-height: 20px
        max-height: 400px
        overflow-y: scroll
        overflow-x: hidden
    .sendOptions
      display: flex
      align-items: flex-end
      .button
        display: flex
        justify-content: center
        align-items: center
        width: 34px
        height: 34px
        border-radius: 50%
        border: 1px solid #4086F1
        background: #fff
        margin: 0 15px 0 0
        cursor: pointer
        transition: background .3s ease
        .triangle
          transform: rotate(180deg)
          width: 14px
          padding-right: 2px
        svg
          path
            fill: #C4C4C4
        &:hover
          background: #4086F1
          svg
            path
              fill: #fff
