.chatBoardWrap
  display: flex
  flex-direction: column
  height: 100%
  width: 100%
  
  .chatBoardMessageList
    display: flex
    width: 100%
    height: calc(100% - 68px - 78px - 90px)
    .chatArea
      width: calc(100% - 200px)
    .rightPanel
      width: 200px
  .chatBoardFooter
    display: flex
    align-items: flex-start
    justify-content: space-between
    width: 100%
    height: 78px
    border-top: 1px solid #DFDFDF
    box-sizing: border-box
    padding: 0 10px
    .downloadOptions
      display: flex
      align-items: center
      position: relative
      height: 80%
      padding: 0 10px
      &:after
        content: ""
        position: absolute
        width: 1px
        height: 60%
        top: 20%
        right: 0
        background: #DFDFDF
      svg
        width: 25px
        min-height: 20px
        margin: 0 10px 0 0
        cursor: pointer
    .textMessage
      display: flex
      height: 80%
      align-items: center
      width: 80%
      .messageImg
        margin: 0 15px 0 0
        width: 22px
      .textInput
        width: 87%
        height: 25px
        font-size: 15px
        font-family: "SF Pro Regular", sans-serif
        border: none
    .sendOptions
      display: flex
      height: 80%
      align-items: center
      .button
        display: flex
        justify-content: center
        align-items: center
        width: 34px
        height: 34px
        border-radius: 50%
        background: rgb(63, 134, 241)
        margin: 0 15px 0 0
        cursor: pointer
      .triangle
        position: relative
        &:after
          content: ""
          position: absolute
          left: 13px
          border: 8px solid transparent
          border-left: 10px solid white
