.chatBoardWrap
  display: flex
  flex-direction: column
  height: 100%
  width: 100%
  justify-content: space-between
  
  .chatBoardMessageList
    display: flex
    width: 100%
    flex-grow: 1
    overflow-y: scroll
    .chatArea
      width: calc(100% - 200px)
      .addFirstContactIcon
        margin: 45px 0 0 8px
      .collapsedMenu
        margin-top: -20px

  .chatBoardFooter
    display: flex
    align-items: flex-end
    justify-content: space-between
    width: 100%
    border-top: 1px solid #DFDFDF
    box-sizing: border-box
    padding: 15px 15px 35px
    .downloadOptions
      display: flex
      align-items: flex-end
      align-self: stretch
      position: relative
      padding: 8px 10px
      justify-content: center
      &:after
        content: ""
        position: absolute
        width: 1px
        height: 44px
        bottom: -5px
        right: 0
        background: #DFDFDF
      svg
        width: 20px
        min-height: 20px
        margin: 0 10px 0 0
        cursor: pointer
    .textMessage
      display: flex
      align-items: flex-end
      align-self: stretch
      width: 80%
      padding: 4px 20px
      .messageImg
        margin: 0 15px 0 0
        width: 22px
        padding: 3px 0
      .textInput
        width: 87%
        font-size: 15px
        font-family: "SF Pro Regular", sans-serif
        border: none
        outline: none
        resize: none
        height: 25px
        line-height: 20px
        max-height: 400px
        overflow-y: scroll
        overflow-x: hidden
    .sendOptions
      display: flex
      align-items: flex-end
      .button
        display: flex
        justify-content: center
        align-items: center
        width: 34px
        height: 34px
        border-radius: 50%
        background: rgb(63, 134, 241)
        margin: 0 15px 0 0
        cursor: pointer
      .triangle
        position: relative
        &:after
          content: ""
          position: absolute
          left: 13px
          border: 8px solid transparent
          border-left: 10px solid white
