.workSpaceWrap
  width: calc(100% - 310px)
  height: 100%
  .header
    display: flex
    align-items: center
    justify-content: space-between
    height: 90px
    border-bottom: 1px solid #e5e5e5
    box-sizing: border-box
    padding: 0 39px 0 17px
    box-sizing: border-box
    .infoHeader
      display: flex
      justify-content: space-between
      align-items: center
      min-width: 340px
      width: 400px
      max-width: 400px