.workSpaceWrap
  width: calc(100% - 310px)
  height: 100%
  transition: width 0.3s ease-in-out, min-width 0.3s ease-in-out
  .header
    display: flex
    align-items: center
    justify-content: space-between
    height: 90px
    border-bottom: 1px solid #e5e5e5
    box-sizing: border-box
    padding: 0 39px 0 17px
    .infoHeader
      display: flex
      justify-content: space-between
      align-items: center
      min-width: 340px
      width: 400px
      max-width: 400px
.workSpaceWrapCollapsed
  width: calc(100% - 120px)
  transition: width 0.3s ease-in-out, min-width 0.3s ease-in-out
@media (max-width: 1420px)
  .workSpaceWrap
    .header
      .infoHeader
        min-width: 340px
        width: 340px



.file_list
  display: flex
  flex-direction: column
  height: calc(100% - 90px - 55px)
  overflow-x: hidden
  overflow-y: scroll