.wrapper
  width: 250px
  height: 100%
  border-right: 0.75px solid #CFCFCF

  .topHeader
    padding: 0 19px 0 35px
    //position: relative
    display: flex
    align-items: center
    justify-content: center
    height: 90px
    .logo
      cursor: pointer
    .arrow
      cursor: pointer
      path
        fill: rgba(64, 134, 241, 1)

  .header
    height: 49px
    padding: 14px 20px
    display: flex
    align-items: center
    background: #4086F1

  .content
    display: flex

.icon
  width: 20px
  height: auto
  margin-right: 10px
.text
  font-weight: 600
  font-size: 14px
  line-height: 17px
  letter-spacing: -0.0645914px
  color: #FFF