@import src/theme/theme

.editTaskWrap
  width: 100%
  padding: 0 19px

  .columnsWrap
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    gap: 10px
    width: 100%
    & > div
      align-self: stretch
      width: 49%
      min-width: 49%
    & > div:first-child
      min-height: 45px
      display: flex
      align-items: center
  .bottomWrap
    display: flex
    flex-direction: column
    width: 100%
    align-items: center
    .buttonsWrap
      display: flex
      width: 53%
      justify-content: center
.eventsList
  padding: 5px 15px
  margin: 0
  .eventItem
    display: flex
    gap: 10px
    align-items: center
    cursor: pointer
    padding: 10px 0
    &:hover
      color: $color-primary

    .eventName
      margin: 0
      font-size: 12px
      line-height: 16px
    .eventIconWrap
      width: 25px
      margin-right: 10px
      text-align: center
