.editTaskWrap
  display: flex
  flex-direction: column
  width: 95%
  .columnsWrap
    display: flex
    width: 100%
    .leftColumn, .rightColumn
      display: flex
      flex-direction: column
      width: 49%
    .leftColumn
      align-items: flex-end
      margin: 0 10px 0 0
    .rightColumn
      align-items: flex-start
  .bottomWrap
    display: flex
    flex-direction: column
    width: 100%
    align-items: center
    .buttonsWrap
      display: flex
      width: 53%
      justify-content: center

.margin
  min-height: 10px
  min-width: 10px
