a 
  text-decoration: none
  color: inherit
ul 
  list-style: none
  padding: 0
h1, h2, h3, h4, h5, p 
  cursor: default
  font-weight: normal
button,
select 
  background-color: transparent
  outline: none
  border: none
  color: inherit
  font: inherit
  cursor: pointer
.Landing 
  margin-top: 4rem
  color: #fff
  font-family: "SF Pro Medium", "Arial", sans-serif
  width: 100vw
  letter-spacing: -0.07px;
.title 
    color: #EED328
    padding-left: 7%
    font-size: 3.75rem
    margin: 0
