a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
}

h1, h2, h3, h4, h5, p {
  cursor: default;
}

button,
select {
  background-color: transparent;
  outline: none;
  border: none;
  color: inherit;
  font: inherit;
  cursor: pointer;
}

.App {
  background: linear-gradient(180deg, #4543F7 0%, #0A3AAB 99.24%);
  color: #fff;
  font-family: "SF Pro Text", "Arial", sans-serif;
  font-weight: 500;
}