.editLetterWrap
  display: flex
  flex-direction: column
  width: 95%
  align-items: center
.contactIcon
  position: absolute
  right: 10px
  cursor: pointer
.margin
  min-height: 10px
  min-width: 10px
