# Always ignored
build/
project/
public/
translations/

babel.config.js
gulpfile.js
vercel.json
robots.txt
src/locales/
src/api/
src/assets/
src/fonts/

# Files that needs to be checked and then deleted from the list
src/Pages/Cabinet/Components/Accordion
src/Pages/Cabinet/Components/Archive
src/Pages/Cabinet/Components/BottomPanel
src/Pages/Cabinet/Components/Business
src/Pages/Cabinet/Components/CalendarPage
src/Pages/Cabinet/Components/Cart
src/Pages/Cabinet/Components/Chat
src/Pages/Cabinet/Components/ContextMenuComponents
src/Pages/Cabinet/Components/CreateFile
src/Pages/Cabinet/Components/CreateFolder
src/Pages/Cabinet/Components/CreateSafePassword
src/Pages/Cabinet/Components/Devices
src/Pages/Cabinet/Components/FileLoader
src/Pages/Cabinet/Components/Journal
src/Pages/Cabinet/Components/List
src/Pages/Cabinet/Components/Modals
src/Pages/Cabinet/Components/MyFiles
src/Pages/Cabinet/Components/MyFolders
src/Pages/Cabinet/Components/MyProfile
src/Pages/Cabinet/Components/Notifications
src/Pages/Cabinet/Components/Profile
src/Pages/Cabinet/Components/Programs
src/Pages/Cabinet/Components/Project
src/Pages/Cabinet/Components/RecentFiles
src/Pages/Cabinet/Components/Safe
src/Pages/Cabinet/Components/SearchField
src/Pages/Cabinet/Components/ServePanel
src/Pages/Cabinet/Components/SharedFiles
src/Pages/Cabinet/Components/SideMenu
src/Pages/Cabinet/Components/StorageSize
src/Pages/Cabinet/Components/WorkElements
src/generalComponents/
src/Pages/Guest/
src/Pages/StartPage/
src/Store/