# Always ignored
/build
/project
/public
/translations

/babel.config.js
/gulpfile.js
/vercel.json
/robots.txt
/src/locales
/src/api
/src/assets
/src/fonts
/src/*.test.js
/src/types
/src/setupTests.js