.formWrap
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  margin: 50px 0 100px 0

  .uploadBlock
    width: 140px
    height: 140px

  .submitBlock
    display: flex
    justify-content: center
    align-items: center
    margin-top: 25px

    .submitBtn, .cancelBtn, .editBtn
      margin: 0 5px
      font-family: 'SF Pro Light'
    .submitBtn
      width: 142px
    .cancelBtn
      width: 135px
      background: #F5F5F5
      color: #A4A4A4

    .editBtn
      width: 180px
      color: #4086F1
      background: #FFFFFF
      border: 1px solid #4086F1


  .button
    font-weight: 600
    color: #4086F1
    font-size: 15px
    font-family: inherit
    line-height: 20px
    letter-spacing: -0.08px
    border: none
    background: none
    cursor: pointer

  .fields
    margin-top: 40px

  .field
    margin: 0 7px 20px
    display: flex
    flex-direction: column
    align-items: flex-start

  .row
    display: flex
    justify-content: center
    align-items: center

.flex50
  flex-basis: 50%

.flex100
  flex-basis: 100%

