.wrapper
  position: relative
  padding: 10px 0
  overflow-x: auto
  overflow-y: hidden

.leftBlockWrap
  box-sizing: border-box
  width: 40px
  background: #ffffff
  position: absolute
  left: 0
  top: 20px
  z-index: 3

  .hoursList
    margin-top: 129px
    height: 100%
    display: flex
    align-items: center
    flex-direction: column
    .hourItem
      height: 46px
    .hour
      font-size: 11px
      line-height: 15px
      color: #49494B




.table
  width: 100%
  border-collapse: collapse
  margin: 0
  transform: translateY(-10px)

  .thead
    background: #ffffff
    height: 45px
    transform: translateY(30px)
    .firstCell
      border: none

  .dayItem
    width: 100%
    display: flex
    align-items: center
    flex-direction: column
    .day
      margin: 0
      font-size: 13px
      line-height: 17px
      color: #49494B
    .dayNumber.active
      color: #ffffff
      background: #4086F1
    .dayNumber
      cursor: pointer
      background: transparent
      width: 40px
      height: 40px
      display: flex
      align-items: center
      justify-content: center
      border-radius: 50%
      margin: 12px 0 0 0
      font-size: 26px
      line-height: 35px
      color: #49494B
      transition: all 0.2s ease
      &:hover
        color: #ffffff
        background: #4086F1

  .firstCell
    padding: 0
    border: 1px solid #DFDFDF
    min-width: 53px
    max-width: 53px
    height: 45px
    margin: 0

  .cell
    padding: 0
    border: 1px solid #DFDFDF
    height: 45px
    min-width: 140px