@import "src/theme/theme"

.boardServicePanelWrap
  display: flex
  align-items: center
  justify-content: space-between
  height: 45px
  width: 100%
  border: 1px solid $color-border-grey
  padding: 0 10px
  .boardTitle
    color: $color-text-grey
    font-size: 13px
    font-family: "SF Pro Regular", sans-serif
  .buttonsWrap
    display: flex
    align-items: center
    justify-content: space-around
    width: max-content
    .addIcon
      width: 18px
      height: 18px
    .frameIcon
      margin: 0 10px 0 0
    .threeDots
      margin: 0 0 0 10px