@import "src/theme/theme"

.boardServicePanelWrap
  display: flex
  align-items: center
  justify-content: space-between
  height: 45px
  width: 100%
  border: 1px solid $color-border-grey
  padding: 0 10px
  .boardTitle
    color: $color-text-grey
    font-size: 13px
    font-family: "SF Pro Regular", sans-serif
  .buttonsWrap
    display: flex
    align-items: center
    justify-content: space-around
    width: max-content
    .addIconWrap
      position: relative
      width: 18px
      height: 18px
      .addIcon
        width: 18px
        height: 18px
        cursor: pointer
      .MEETINGS_BOARD_emptyImg
        position: absolute
        top: 19px
        transform: rotateZ(5deg)
        left: -108px
      .MEETINGS_BOARD_inscription
        position: absolute
        right: 60px
        top: 97px
      .CALLS_BOARD_emptyImg
        position: absolute
        right: -35px
        transform: rotateZ(336deg)
        top: 40px
        width: 100px
      .CALLS_BOARD_inscription
        position: absolute
        right: 0
        top: 140px
      .MAIL_BOARD_emptyImg
        position: absolute
        right: -35px
        transform: rotateZ(336deg)
        top: 40px
        width: 100px
      .MAIL_BOARD_inscription
        position: absolute
        right: 0
        top: 140px
    .frameIcon
      margin: 0 10px 0 0
      cursor: pointer
    .threeDots
      margin: 0 0 0 10px