.wrapper
  width: 418px
  height: 257px
  background: #FFFFFF
  border-radius: 4.95px

  .header
    padding: 30px 0
    text-align: center
    p
      margin: 0
      font-weight: 500
      font-size: 18px
      line-height: 21px
      letter-spacing: -0.0593186px
      color: #2B353E


  .content
    min-height: 80px
    margin-bottom: 25px
    display: flex
    align-items: center
    justify-content: center

  .actionBlock
    display: flex
    justify-content: center
    .actionBtn
      width: 128px
      height: 34px
      display: flex
      align-items: center
      justify-content: center
      font-weight: 500
      font-size: 12px
      line-height: 14px
      letter-spacing: -0.0768945px
      color: #FFF
      background: rgba(64, 134, 241, 1)
      border-radius: 3.75px
      margin-left: 5px