@import "theme/theme"
  
.button
  background: $color-blue-light
  border-radius: 20px
  font: inherit
  font-size: 13px
  white-space:  nowrap
  padding: 9px 18px
  transition: background .3s ease
  cursor: pointer
  color: $color-text-grey
  margin-right: 10px
  &:hover
    background: $color-blue-smooth
    color: $color-white
  &.small
    padding: 5px 15px
    font-size: 11px