.wrapper
    height: 70px
    padding: 10px 20px
    display: flex
    justify-content: space-between
    align-items: center
    border-top: 1px solid #DFDFDF
    .leftContainer, .rightContainer
        display: flex
        align-items: center
        width: 120px
        justify-content: space-between
    .centerContainer
        position: relative
        .actionButton
            position: absolute
            top: -95px