.wrapper
    padding: 21px 30px
    color: #49494B
    .header
        display: flex
        align-items: center
        justify-content: center
        margin-bottom: 8px

        .avatar
            width: 90px
            height: 90px
            background: #CFCFCF
            border-radius: 50%

    .label
        text-align: center
        padding-bottom: 16px
        border-bottom: 1px solid #CFCFCF
        margin: 0

        .text
            color: #4086f1
            font-size: 14px
            line-height: 14px
            display: inline-block

    .inputWrap
        display: flex
        align-items: center
        justify-content: flex-start
        border-bottom: 1px solid #CFCFCF
        padding: 9px 0

        .iconWrap
            display: flex
            align-items: center
            justify-content: center
            margin-right: 10px
            width: 30px
            height: 30px
            border-radius: 50%
            background: #4086F1

            svg
                path
                    fill: #fff
        .iconWrap_soc
            background: transparent

        .input
            width: 80%
            border: none
            outline: none
            font-family: inherit
            font-size: inherit
            color: inherit
            background: inherit
            &::placeholder
                opacity: .8