.message
    position: absolute
    width: 320px
    height: 40px
    left: 50%
    top: 0
    transform: translateX(-50%)
    background: #3E3E3E
    font-family: 'SF Pro Light', sans-serif
    line-height: 40px
    letter-spacing: -0.0894342px
    text-align: center
    z-index: 10
    border-radius: 0 0 10px 10px
    color: #fff
    font-size: 14px