.item
  cursor: pointer
  height: 49px
  padding: 0 20px 0 10px
  display: flex
  align-items: center
  &:hover
    background: rgba(64, 134, 241, 0.1)
    transition: background-color 0.2s

  .imgWrap
    width: 40px
    margin-right: 5px
    text-align: center

  p
    display: block
    max-width: 100%
    white-space: nowrap
    text-overflow: ellipsis
    overflow: hidden
    margin: 0
    font-size: 13px
    line-height: 17px
    color: #454545