@keyframes showText
  0%
    font-size: 0
    width: 0
  100%
    font-size: 15px
    width: max-content

.listWrap
  position: relative
  display: flex
  flex-direction: column
  height: 100%
  min-width: 310px
  max-width: 310px
  border-right: 1px solid #e5e5e5
  transition: width 0.3s ease-in-out, min-width 0.3s ease-in-out
  background: #FCFCFE
  .header
    display: flex
    justify-content: space-between
    align-items: center
    width: 100%
    padding: 0 18px
    border-bottom: 1px solid #e5e5e5
    box-sizing: border-box
    height: 67px
    span
      font-family: "SF Pro Bold", sans-serif
      font-size: 15px
      letter-spacing: 0.2px
      animation: showText 0.2s ease-in-out
      color: #49494b
    .icon
      cursor: pointer
      margin: 0 0 0 18px
  .imgWrap
    display: flex
    align-items: center
    .playButton
      margin: 0
      cursor: pointer
    .playButtonReverse
      transform: rotateZ(180deg)
  .children
    height: calc(100% - 67px)
.listWrapCollapsed
  min-width: 120px
  width: 120px
  transition: width 0.3s ease-in-out, min-width 0.3s ease-in-out