.wrapper
  height: 100%
  display: flex
  align-items: center
  justify-content: center

.contentWrapper
  width: 458px
  padding: 30px 40px
  background: #FFFFFF
  border-radius: 4.95px
  position: relative

  .close
    cursor: pointer
    position: absolute
    top: 10px
    right: 10px

  .header
    display: flex
    justify-content: center

    .title
      margin: 0
      font-weight: 500
      font-size: 18px
      line-height: 21px
      letter-spacing: -0.0593186px
      color: #2B353E

  .content
    display: flex
    flex-direction: column
    align-items: center

    .successBlock
      margin: 28px 0 17px 0
      img
        width: 60px
        height: 60px
        border-radius: 50%

    .text
      font-weight: 500
      font-size: 12px
      line-height: 21px
      text-align: center
      letter-spacing: -0.0571942px
      color: #4F555B

    .info
      margin: 23px 0 37px 0
    .info, .resend
      font-weight: 500
      font-size: 12px
      line-height: 14px
      letter-spacing: -0.0629137px
      color: #2B353E

    .actionBlock
      display: flex
      justify-content: center
      
      .completeBtn
        font-weight: 500
        font-size: 12px
        line-height: 14px
        letter-spacing: -0.0768945px
        color: #FFFFFF

        width: 145px
        height: 38px
        border: none
        background: #4086F1
        border-radius: 3.75px
