@import src/theme/theme

.toggleWrap
    display: flex
    .active
        background: $color-blue-light
.toggleItem
    padding: 14px
    flex: 1
    text-align: center
    color: $color-text-grey
    font-family: "SF Pro Text", sans-serif
    cursor: pointer
