.wrapper
    display: flex
    justify-content: center
    align-items: center
    cursor: pointer
    .childrenWrapper
        display: flex
        justify-content: center
        align-items: center
        max-width: 60%
        max-height: 60%
        &.black
            svg
                path, g
                    fill:#494949
        &.white
            svg
                path, g
                    fill: #fff