.wrapper
  width: 500px
  background: #FFFFFF
  border-radius: 4.95px
  letter-spacing: -0.06px
  font-family: 'SF Pro Text'
  .text
    font-size: 12px
    line-height: 18px
    text-align: center
    color: #B0B0B0
    font-family: 'SF Pro Text Light'
    p
      width: 71%
      margin: 0 auto
    &:after
      display: block
      margin: 0 auto
      content: ''
      width: 94%
      height: 1px
      background: #E3E3E3
      margin-top: 15px


  .header
    padding: 14px 0 27px 0
    text-align: center
    p
      margin: 0
      font-weight: 500
      font-size: 16px
      letter-spacing: -0.06px
      color: #2B353E


  .content
    display: flex
    align-items: center
    justify-content: center
    margin-top: 19px

  .actionBlock
    display: flex
    justify-content: center
    .actionBtn
      width: 128px
      height: 34px
      display: flex
      align-items: center
      justify-content: center
      font-weight: 500
      font-size: 12px
      line-height: 14px
      letter-spacing: -0.0768945px
      color: #FFF
      background: rgba(64, 134, 241, 1)
      border-radius: 3.75px
      margin: 30px 0
      transition: background .2s ease-in-out
      &:hover
        background: #3b6dcb