.wrapper
    .button
        background: #ECF3FE
        border-radius: 20px
        font: inherit
        font-size: 13px
        white-space:  nowrap
        padding: 9px 18px
        transition: background .3s ease
        cursor: pointer
        color: #49494B
        margin-right: 10px
        &:hover
            background: #4086F1
            color: #fff
        &.small
            padding: 5px 15px
            font-size: 11px