.workAreaWrap
  display: flex
  width: 100%
  height: 100%
  .folderListWrap::-webkit-scrollbar
    width: 0
  .folderListWrap
    display: flex
    flex-direction: column
    width: 100%
    height: 100%
    overflow-x: hidden
    overflow-y: scroll
  .workSpace
    display: flex
    flex-direction: column
.mainMenuItems
  margin: 10px 0 20px 0
.innerFolderIcon
  width: 70px
  height: 60px