.input_link
    display: none
.message
    position: absolute
    width: 430px
    height: 60px
    left: 50%
    bottom: 0
    transform: translateX(-50%)
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5))
    background: #EBF2FD
    font-family: SF Pro Text
    font-style: normal
    font-weight: 600
    font-size: 14px
    line-height: 60px
    letter-spacing: -0.0894342px
    color: #606060
    text-align: center
    z-index: 10
    border-radius: 4px 4px 0 0 
