.parentWrapper
  height: 100%
  overflow: hidden

.wrapper
  height: calc(100% - 90px - 55px)
  overflow-y: auto
  overflow-x: hidden
  &::-webkit-scrollbar-track
    background: #0A3AAB
  &::-webkit-scrollbar-track
    -webkit-box-shadow: none
    background-color: #F5F5F5
  &::-webkit-scrollbar
    width: 12px
    background-color: #FFFFFF
  &::-webkit-scrollbar-thumb
    background-color: #4086F1

.header
  display: flex
  align-items: center
  justify-content: space-between
  height: 90px
  border-bottom: 1px solid #e5e5e5
  box-sizing: border-box
  padding: 0 39px 0 17px
  .infoHeader
    display: flex
    justify-content: space-between
    align-items: center
    min-width: 340px
    width: 400px
    max-width: 400px

.searchWrap
  display: flex
  align-items: center
  justify-content: space-between
  padding: 20px 20px 10px 20px

.select
  box-shadow: none
  border-radius: 3px
  border: 1px solid #4086F1
  .selectContent
    font-size: 12px
    line-height: 14px
    height: 100%
    display: flex
    align-items: center
    padding: 0 10px
    color: #666666

.yearSelect
  width: 121px
  height: 32px

  .selectContentYear
    font-size: 12px
    line-height: 14px
    height: 100%
    display: flex
    justify-content: center
    align-items: center
    padding: 0 10px
    color: #666666

.buttonsWrap
  padding: 10px 15px 10px 15px
  display: flex
  justify-content: space-between

  .daySelect
    min-width: 109px
    height: 32px

  .button.active
    background: rgba(64, 134, 241, 0.1)
    transition: background-color 0.2s ease-in-out
    border: 1px solid #4086F1

  .button
    display: block
    overflow: hidden
    white-space: nowrap
    text-overflow: ellipsis

    cursor: pointer
    width: 171px
    height: 34px
    border: none
    background: #ffffff
    border-radius: 3px
    padding: 0 10px
    font-family: inherit
    margin: 0 5px
    color: #666666
    font-size: 12px
    box-shadow: 0 2px 4px #dedede
    transition: background-color 0.2s ease-in-out
    &:hover
      background: rgba(64, 134, 241, 0.1)
      transition: background-color 0.2s ease-in-out


.search
  position: relative
  width: 284px

  .icon
    position: absolute
    width: 16px
    height: 16px
    top: calc(16px / 2)
    right: 17px

  .input
    font-size: 12px
    line-height: 15px
    font-family: inherit
    color: #AEAEAE

    width: 100%
    height: 32px
    background: #F7F7F7
    border-radius: 20px
    border: none
    padding: 0 25px

    &::placeholder
      font-size: 10px
      line-height: 12px
      font-family: inherit

.collapseHeader
  cursor: pointer
  padding: 20px
  display: flex
  align-items: center

  .dateName
    font-size: 14px
    line-height: 17px
    color: #606060

  .arrowFile
    width: 30px
    .playButton.revert
      transform: rotate(90deg)
      path
        fill: #4086F1
    .playButton
      transform: rotate(-90deg)

  .collapseBtn
    margin: 0 12px
    display: block
    overflow: hidden
    white-space: nowrap
    text-overflow: ellipsis

    cursor: pointer
    width: 121px
    height: 32px
    border: none
    background: rgba(64, 134, 241, 0.1)
    border-radius: 16px
    padding: 0 10px
    font-family: inherit
    color: #666666
    font-size: 12px
    line-height: 16px
    box-shadow: 0 2px 4px #dedede
    transition: background-color 0.2s ease-in-out


.collapseContent
  padding: 0 20px

.fileDate
  border-top: 1px solid #CFCFCF
  padding: 18px 20px 14px 20px
  p
    margin: 0
    font-size: 14px
    line-height: 19px
    color: #606060



.fileActionWrap
  width: 66px
  height: 75px
  position: relative

