@keyframes appearance
  0%
    width: 1px
    // height: 1px
  99%
    width: 50vw
    // height: calc( 50vw * 3 / 4 )
.wrapper
    background: #fff
    user-select: none
    -moz-user-select: none
    -webkit-user-select: none
    .contentPreview
        animation: appearance .2s ease
        width: 50vw
        // height: calc( 50vw * 3 / 4 )
        padding: 20px
        .videoWrapper
            // background: lightgrey
            height: 100%
            .video
                width: 100%
                object-fit: contain
                // height: 100%
                // object-fit: cover