@keyframes warning
  0%
    top: 10px
    width: 0
    opacity: 0
  70%
    top: 1px
    width: 60px
  100%
    top: 10px
    width: 40px

@keyframes showPopup
  0%
    width: 10px
    height: 10px
    background: white
    opacity: 0
  99%
    width: 420px
    height: 350px
    opacity: 0

.errorWrap
  display: flex
  flex-direction: column
  justify-content: flex-start
  align-items: center
  width: 420px
  height: 350px
  position: relative
  animation: showPopup 0.2s ease-in-out
  z-index: 1000
  .cross
    position: absolute
    top: 16px
    right: 7px
    width: 16px
    height: 2px
    background: #a7a4a4
    transform: rotate(45deg)
    cursor: pointer
  .cross:before
    content: ''
    position: absolute
    top: 0
    right: 0
    width: 16px
    height: 2px
    background: #a7a4a4
    transform: rotate(90deg)
  .title
    font-size: 19px
    margin: 25px 0 35px 0
  div
    display: flex
    align-items: center
    justify-content: center
    position: relative
    margin: 0 0 15px 0
    .warning
      position: absolute
      top: 10px
      width: 40px
      animation: warning 2s ease-in-out 0.2s
  .infoError
    width: 90%
    height: 65px
    span
      font-size: 14px
  .button
    display: flex
    justify-content: center
    align-items: center
    background: #4086F1
    border-radius: 5px
    width: 127px
    height: 35px
    color: white
    font-size: 12px
    cursor: pointer
    transition: background 0.2s ease
    margin: 5px 0 0 0
  .button:hover
    background: #3979db
    transition: background 0.2s ease