.mutualEdit
  display: flex
  border-radius: 6px
  width: calc(100vw - 80px)
  height: calc(100vh - 80px)
  flex-direction: column
  .header
    display: flex
    height: 60px
    width: 100%
    border: 1px solid red
  .mainField
    height: calc(100% - 60px)
    width: 100%
    border: 1px solid gold

