.fileLineShortWrap:hover
  background: rgba(64, 134, 241, .1)
.fileLineShortWrap:hover .fileWrap:after
  content: ''
  width: 5px
  height: 5px
  top: 0
  right: 0
  position: absolute
  background: linear-gradient(45deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 41%, rgba(64, 134, 241, .1) 41%)
.fileChosen
  background: rgba(64, 134, 241, .1)
.fileLineShortWrap
  position: relative
  display: flex
  justify-content: space-between
  width: 100%
  min-height: 70px
  align-items: center
  cursor: default
  .infoWrap
    display: flex
    align-items: center
    width: 85%
    .fileWrap
      display: flex
      align-items: center
      justify-content: center
      width: 70px
      height: 70px
      margin: 0 15px 0 10px

  .rightWrap
    display: flex
    align-items: flex-start

    p
      margin: 0 40px 0 0

    .menuWrap
      position: absolute
      right: 0
      display: flex
      height: 20px
      width: 10px
      justify-content: center
      align-items: center
      margin: 0 10px 0 0
      .menu
        cursor: pointer
        position: relative
        width: 3px
        height: 3px
        background: #c1c0c0
        transition: background 0.2s ease
      .menu::before, .menu::after
        content: ''
        position: absolute
        width: 3px
        height: 3px
        background: #c1c0c0
        transition: background 0.2s ease
      .menu::before
        transform: translateY(8px)
      .menu::after
        transform: translateY(-8px)
    .menuWrap:hover .menu, .menuWrap:hover .menu::before, .menuWrap:hover .menu::after
      background: #477DE1
      transition: background 0.2s ease


.fileName
  font-size: 12px
  font-family: "SF Pro Light", sans-serif
  p
    margin-top: 0
    width: 100%
    max-width: 100px
    overflow: hidden
    white-space: nowrap
    text-overflow: ellipsis