.wrapper
  padding: 5px 19px 5px 10px

  .headBlock
    cursor: pointer
    display: flex
    align-items: center
    box-sizing: border-box

  .icons
    display: flex
    flex-direction: column
    align-items: center
    .circle
      margin-bottom: 5px
      width: 16px
      height: 16px
      border-radius: 50%
    .suitCase
      width: 16px


  .rightIcons
    display: flex
    align-items: center
    .icon
      margin: 0 4px

  .infoBlock
    flex-grow: 1
    display: flex
    align-items: center

  .infoItem
    margin-left: 30px
    .option
      margin: 0
      font-size: 10px
      line-height: 16px
      color: #7F7F7F
    .value
      margin: 0
      font-size: 12px
      line-height: 16px
      color: #49494B

  .infoItemName
    margin-left: 15px

  .infoItemSender
    display: flex
    align-items: flex-end
    .avatarImg
      margin-right: 16px
      width: 20px
      height: 20px
      border-radius: 50%


  .arrowWrap
    margin-left: 15px
    .arrow.active
      border-top: 6px solid #4086F1
    .arrow
      display: block
      width: 0
      height: 0
      border-left: 6px solid transparent
      border-right: 6px solid transparent
      border-top: 6px solid #666666

  .descWrap
    display: flex
    align-items: stretch
    padding: 15px 0 9px 0
    min-height: 75px

    .descBlock

      .descTitle
        font-size: 10px
        line-height: 16px
        color: #9A9A9A
        margin: 0 0 5px 0
      .descText
        margin: 0
        font-size: 12px
        line-height: 16px
        color: #5D5D5D

    .actionBlock
      display: flex
      flex-direction: column
      justify-content: flex-end
      margin-left: 25px
      .actionBtn
        min-width: 131px
        font-size: 12px
        line-height: 16px
        color: #ffffff
        white-space: nowrap
        text-overflow: ellipsis
        overflow: hidden
        background: #4086F1
        border-radius: 3px
        padding: 7px 22px 5px 13px

