.securityWrap::-webkit-scrollbar-track
  background: #0A3AAB
.securityWrap::-webkit-scrollbar-track
  -webkit-box-shadow: none
  background-color: #F5F5F5
.securityWrap::-webkit-scrollbar
  width: 3px
  background-color: #FFFFFF
.securityWrap::-webkit-scrollbar-thumb
  background-color: #4086F1
.securityWrap
  display: flex
  flex-direction: column
  align-items: center
  width: 85%
  min-height: 378px
  height: 378px
  max-height: 378px
  margin: 0 0 10px 0
  overflow-x: hidden
  overflow-y: scroll
  .infoWrap
    display: flex
    width: 96%
    box-sizing: border-box
    padding: 35px 0 35px 0
    border-bottom: 1px solid rgb(223, 223, 223)
    .icon
      width: 50px
      border-radius: 50%
      margin: 0 25px 0 0
    .inputWrap
      margin: 10px 0 0 0
      width: 85%
      height: 90%
  .accessWrap
    display: flex
    flex-direction: column
    color: rgb(122, 122, 122)
    font-size: 12px
    letter-spacing: 0.5px
    line-height: 17px
    width: 98%
    box-sizing: border-box
    padding: 10px 0 10px 0
    border-bottom: 1px solid rgb(223, 223, 223)
    .users
      display: flex
      margin: 10px 0 0 0
      white-space: break-spaces
      flex-wrap: wrap
      box-sizing: border-box
      .user
        font-size: 11px
        display: flex
        flex-direction: row
        background: rgb(235, 247, 232)
        padding: 8px 13px
        box-sizing: border-box
        border-radius: 30px
        margin: 0 6px 7px 0
        color: black
        white-space: nowrap
  .limitationWrap
    display: flex
    flex-direction: column
    color: rgb(122, 122, 122)
    font-size: 12px
    letter-spacing: 0.5px
    line-height: 17px
    width: 98%
    box-sizing: border-box
    padding: 10px 0 10px 0
    border-bottom: 1px solid rgb(223, 223, 223)
    .users
      display: flex
      margin: 10px 0 0 0
      white-space: break-spaces
      flex-wrap: wrap
      box-sizing: border-box
      .user
        font-size: 11px
        display: flex
        flex-direction: row
        background: rgb(235, 247, 232)
        padding: 8px 13px
        box-sizing: border-box
        border-radius: 30px
        margin: 0 6px 7px 0
        color: black
        white-space: nowrap