.wrapper
  display: flex
  height: 100%
  font-family: 'SF Pro Light'
  letter-spacing: -0.06px
  .content
    flex-grow: 1
  
  .sideBar
    width: 240px

  .avatar
    object-fit: cover
    width: 90px
    height: 90px
    border-radius: 50%