.eventWrap
  display: flex
  align-items: center
  padding: 10px 20px
  min-height: 50px
  font-size: 13px
  justify-content: space-between
  background: rgba(175,102,201,0.1)
  border-bottom: 0.75px solid #E7D5EF
  cursor: pointer
  &:hover
    background: rgba(175,102,201,0.2)

.event
  display: flex
  align-items: center

.eventIndex
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18px
  height: 18px
  background: #FFFFFF
  border-radius: 50%
  font-size: 12px
  margin-right: 10px

.eventText
  width: 150px
  overflow: hidden
  text-overflow: ellipsis
  white-space: nowrap