@import 'theme/colors'

.wrapper
  display: flex
  align-items: center
  padding: 12px 10px
  font-size: 13px
  cursor: pointer
  &:hover
    background: #4087f115

.icon
  min-width: 20px
  height: auto
  display: flex
  justify-content: center
  margin-right: 15px