@import "theme/theme"

.iconWrap
  width: 30px
  height: 30px
  display: flex
  justify-content: center
  align-items: center
  box-sizing: border-box
  font-size: 11px
  cursor: pointer
  position: relative

.emptyUserIcon
  display: flex
  justify-content: center
  align-items: center
  width: 30px
  height: 30px
  max-width: 30px
  max-height: 30px
  border-radius: 50%
  background: $color-background-blue-light

.userIcon
  display: flex
  justify-content: center
  align-items: center
  width: 30px
  height: 30px
  max-width: 30px
  max-height: 30px
  border-radius: 50%
  background: $color-background-blue-light
