.wrapper
  display: flex
  align-items: center
  justify-content: center
  min-height: 60px
  position: relative
  border-bottom: 1px solid #DFDFDF
  .input
    width: 284px
    height: 41px
    border-radius: 30px
    padding: 0 40px 0 15px
    box-sizing: border-box
    background: rgb(247, 247, 247)
    border: none
    font-family: "SF Pro Regular", sans-serif
    font-size: 12px
  .input::placeholder
    color: rgb(174, 174, 174)
  .searchGlass
    position: absolute
    top: calc(50% - 10px)
    right: 25px
    cursor: pointer