.emojiAreaWrap
  display: flex
  align-items: center
  flex-direction: column
  width: calc(100% - 300px - 300px)
  height: 100%
  width: 300px
  background: rgb(241, 241, 241)
  .titleName
    font-family: "SF Pro Regular", sans-serif
    font-size: 15px
    color: black
    box-sizing: border-box
    padding: 15px 0
  img
    width: 250px
    height: 660px