.file_wrap .file_icon
  width: 25px
  height: 30px
  position: relative
  flex: 0 0 25px
  div div {font-size: 6px}

  
.name  
  font-size: .85rem
  margin: 0
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis

.descr 
  display: flex
  justify-content: space-between

.file_wrap
  display: flex
  font-size: .85rem
  justify-content: space-between
  align-items: center
  padding:  .75rem .25rem .75rem .75rem
  
.file_wrap:hover
  background: rgba(64, 134, 241, 0.1)

.file_info
  align-self: flex-start
  padding: 0 .5em
  width: 50%


.file_date, .file_size
  font-size: .7em

.symbols
  display: flex
  margin-left: auto
  align-items: center
  div
    margin-right: .4rem

.file_menu
  position: relative
  display: flex
  width: 20px
  height: 17px
  justify-content: space-around
  align-items: center
  flex-direction: column
  cursor: pointer

.file_menu:hover .dots
  background: #4086F1

.dots
  width: 2px
  height: 2px
  background: red
  border-radius: .75px
  background: #B9B9B9