.file_wrap .file_icon
  width: 25px
  height: 30px
  position: relative
  flex: 0 0 25px
  div div {font-size: 6px}

.chosen 
  background: rgba(64, 134, 241, 0.1)
.file_wrap.chosen .file_icon:after, .file_wrap:hover .file_icon:after
  content: ''
  width: 10px
  height: 10px
  background: linear-gradient(45deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 50%, rgba(64, 134, 241, 0.1) 51%)
  position: absolute
  top: 0
  right: 0
.name
  color: #49494B
  font-size: .85rem
  margin: 0
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis
  animation: showText 0.2s ease-in-out

.descr 
  display: flex
  justify-content: space-between
  animation: showText 0.2s ease-in-out


.file_wrap
  display: flex
  font-size: .85rem
  justify-content: space-between
  align-items: center
  padding:  .75rem .25rem .75rem .75rem
  color: #606060  
  
.file_wrap:hover
  background: rgba(64, 134, 241, 0.1)

.file_info
  align-self: flex-start
  padding: 0 .5em
  width: 50%


.file_date, .file_size
  font-size: .7em

.symbols
  display: flex
  margin-left: auto
  align-items: center
  div
    margin-right: .4rem

.file_menu
  position: relative
  display: flex
  width: 20px
  align-self: stretch
  align-items: center
  justify-content: center
  cursor: pointer
  min-height: 20px


.file_menu:hover .dots
  background: #4086F1

.dots,.dots::before,.dots::after
  content: ''
  position: absolute
  width: 3px
  height: 3px
  border-radius: .75px
  background: inherit

.dots
  position: relative
  background: #B9B9B9
.dots::before
  transform: translateY(-7px)

.dots::after
  transform: translateY(7px)
  background: inherit

@keyframes showText
  0%
    font-size: 0
    width: 0
  100%
    font-size: 12px
    width: max-content