@keyframes showPopup1420
  0%
    width: 10px
    height: 10px
    background: white
    opacity: 0
  99%
    width: 430px
    height: 500px
    opacity: 0

@keyframes showPopup
  0%
    width: 10px
    height: 10px
    background: white
    opacity: 0
  99%
    width: 530px
    height: 720px
    opacity: 0

@keyframes showTags
  0%
    display: none
    height: 0
    opacity: 0
    bottom: 0
  100%
    display: block
    height: 140px
    opacity: 1
    bottom: -137px

@keyframes ticked
  0%
    width: 0
  100%
    width: 15px

.createFolderWrap
  display: flex
  flex-direction: column
  justify-content: flex-start
  align-items: center
  position: relative
  width: 530px
  height: 720px
  animation: showPopup 0.2s ease-in-out
  cursor: default
  .cross
    position: absolute
    top: 20px
    right: 15px
    width: 18px
    height: 2px
    background: #a7a4a4
    transform: rotate(45deg)
    cursor: pointer
  .cross:before
    content: ''
    position: absolute
    top: 0
    right: 0
    width: 18px
    height: 2px
    background: #a7a4a4
    transform: rotate(90deg)
  .redCross
    position: relative
    cursor: pointer
  .redCross:hover:before,
  .redCross:hover:after
    content: ''
    position: absolute
    top: 3px
    right: 0
    width: 8px
    height: 1px
    background: red
    z-index: 3
  .redCross:before
    transform: rotate(45deg)
  .redCross:after
    transform: rotate(-45deg)
  .title
    font-size: 19px
    font-family: "SF Pro Medium", sans-serif
    margin: 40px 0 25px 0
  .fileIconWrap
    display: flex
    width: 78%
    margin: 0 0 28px 0
    .fileWrap
      position: relative
      .file
        width: 62px
        height: 70px
    .folderIcon
      width: 71px
      height: 62px
    .openFile
      display: flex
      align-items: center
      color: #b3b3b3
      font-size: 14px
      box-sizing: border-box
      padding: 0 0 0 15px
      position: relative
      width: 85%
      .inputFile
        opacity: 0
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        cursor: pointer
      span
        color: #477DE1
        text-decoration: underline
        cursor: pointer
        padding: 0 0 0 3px
    .picPreview
      display: flex
      flex-direction: column
      padding: 0 0 0 20px
      width: 100%
      .format
        font-size: 13px
        color: grey
        margin: 0 0 5px 0
      .name
        display: block
        color: black
        font-size: 15px
        width: 100%
        max-width: 100%
        max-height: 20px
        white-space: nowrap
        overflow: hidden
        padding: 1px
        text-overflow: ellipsis
        margin: 0 0 5px 0
        font-family: "SF Pro Medium", sans-serif
      .fileOptions
        display: flex
        align-items: center
        width: 100%
      .minitagWrap
        position: relative
        min-width: 10%
        max-width: 40%
        cursor: pointer
        .minitag
          display: block
          background: rgb(52, 198, 162)
          color: white
          padding: 2px 10px
          border-radius: 20px
          font-family: "SF Pro Regular", sans-serif
          font-size: 16px
          min-width: max-content
          max-width: 40%
          height: max-content
          overflow: hidden
          white-space: nowrap
          text-overflow: ellipsis
          cursor: pointer
          margin: 0 10px 0 0
      .minitagWrap:hover .hoverPanel
        width: 105%
        height: 140%
        position: absolute
        top: -18%
        left: -9%
        background: rgba(196, 196, 196, 0.8)
        border-radius: 30px
      .minitagWrap:hover .hoverPanel:before
        content: ''
        width: 1px
        height: 15px
        background: white
        position: absolute
        top: calc(50% - 8px)
        left: calc(50% - 1px)
        transform: rotateZ(45deg)
      .minitagWrap:hover .hoverPanel:after
        content: ''
        width: 1px
        height: 15px
        background: white
        position: absolute
        top: calc(50% - 8px)
        left: calc(50% - 1px)
        transform: rotateZ(-45deg)
      div
        display: flex
        img
          width: 25px
          margin: 0 10px 0 0
      .colorWrap
        min-width: 25px
        min-height: 25px
        position: relative
        cursor: pointer
        .circle
          width: 25px
          height: 25px
          border-radius: 50%
          margin: 0 10px 0 0
      .colorWrapTap:hover .hoverPanel
        width: 31px
        height: 31px
        position: absolute
        top: -2px
        left: -2px
        background: rgba(196, 196, 196, 0.8)
        border-radius: 50%
      .colorWrapTap:hover .hoverPanel:before
        content: ''
        width: 1px
        height: 15px
        background: white
        position: absolute
        top: calc(50% - 8px)
        left: calc(50% - 1px)
        transform: rotateZ(45deg)
      .colorWrapTap:hover .hoverPanel:after
        content: ''
        width: 1px
        height: 15px
        background: white
        position: absolute
        top: calc(50% - 8px)
        left: calc(50% - 1px)
        transform: rotateZ(-45deg)
      .signWrap
        min-width: 25px
        min-height: 25px
        position: relative
        cursor: pointer
      .signWrap:hover .hoverPanel
        width: 31px
        height: 31px
        position: absolute
        top: -3px
        left: -3px
        background: rgba(196, 196, 196, 0.8)
        border-radius: 50%
      .signWrap:hover .hoverPanel:before
        content: ''
        width: 1px
        height: 15px
        background: white
        position: absolute
        top: calc(50% - 8px)
        left: calc(50% - 1px)
        transform: rotateZ(45deg)
      .signWrap:hover .hoverPanel:after
        content: ''
        width: 1px
        height: 15px
        background: white
        position: absolute
        top: calc(50% - 8px)
        left: calc(50% - 1px)
        transform: rotateZ(-45deg)
      .lock
        width: 17px
  .inputFieldsWrap
    display: flex
    flex-direction: column
    justify-content: space-between
    width: 78%
    .tagPicker
      display: flex
      align-items: center
      width: 101%
      height: 40px
      position: relative
      border: 1px solid #bab8b8
      border-radius: 5px
      cursor: default
      color: #bab8b8
      font-family: "SF Pro Light", sans-serif
      font-size: 14px
      padding: 0 15px
      box-sizing: border-box
      .inputField
        height: 90%
        width: 80%
        padding: 0 0 0 3px
        outline: none
        font-family: "SF Pro Light", sans-serif
        font-size: 14px
        color: #bab8b8
        border: none
      .inputField::placeholder
        font-family: "SF Pro Light", sans-serif
        font-size: 14px
        color: #bab8b8
      .tagList::-webkit-scrollbar
        width: 0
      .tagList
        display: none
        position: absolute
        z-index: 2
        left: -1px
        bottom: -137px
        width: 100%
        height: 140px
        background: white
        overflow-x: hidden
        overflow-y: scroll
        border: 1px solid #bab8b8
        border-top: none
        border-bottom-left-radius: 5px
        border-bottom-right-radius: 5px
        cursor: pointer
        div
          display: flex
          align-items: center
          position: relative
          background: white
          width: 100%
          height: 35px
          box-sizing: border-box
          padding: 0 15px
          color: #bab8b8
        div:before
          content: ''
          position: absolute
          top: 0
          height: 1px
          width: 90%
          background: grey
        div:hover
          background: linear-gradient(276deg, rgba(255,255,255,1) 0%, rgb(236, 236, 236) 50%, rgba(255,255,255,1) 100%)
      .inputField:focus ~ .tagList,
      .inputField:hover ~ .tagList,
      .tagList:hover
        display: block
        z-index: 3
        animation: showTags 0.2s ease-in-out
  .safeWrap
    display: flex
    justify-content: flex-start
    align-items: center
    width: 430px
    font-size: 10px
    margin: 5px 0
    .safe
      display: flex
      justify-content: center
      align-items: center
      width: 8%
      margin: 0 10px 0 0
      div
        display: flex
        justify-content: center
        align-items: center
        width: 20px
        height: 20px
        border: 1px solid #c4c2c2
        border-radius: 5px
        cursor: pointer
      div img
        width: 15px
        animation: ticked 0.2s ease
    .safeText
      width: 91%
      font-size: 13px
      line-height: 16px
  .buttonsWrap
    display: flex
    width: 290px
    justify-content: space-between
    div
      display: flex
      justify-content: center
      align-items: center
      width: 140px
      height: 39px
      border-radius: 5px
      cursor: pointer
      font-size: 14px
    .cancel
      background: #e3e3e3
      border: 1px solid #e9e9e9
      color: grey
    .cancel:hover
      background: #fc7a7a
      color: white
    .buttonDisabled
      background: #e3e3e3
      border: 1px solid #e9e9e9
      color: grey
      cursor: default
    .add
      background: #477DE1
      border: 1px solid #477DE1
      color: white
    .add:hover
      background: #3b6dcb
@media (max-width: 1420px)
  .createFolderWrap
    width: 430px
    height: 500px
    animation: showPopup1420 0.2s ease-in-out
    .title
      font-size: 15px
      margin: 10px 0 10px 0
    .folderIconWrap
      width: 78%
      margin: 0 0 18px 0
      .folderIcon
        width: 51px
        height: 42px
    .fileIconWrap
      margin: 0 0 10px 0
      .fileWrap
        .file
          width: 44px
          height: 50px
      .openFile
        font-size: 12px
      .picPreview
        .format
          font-size: 11px
          margin: 0 0 2px 0
        .name
          font-size: 12px
          margin: 0 0 2px 0
        .minitag
          font-size: 11px
        div
          img
            width: 15px
        .circle
          width: 15px
          height: 15px
        .lock
          width: 12px
    .inputFieldsWrap
      .tagPicker
        height: 30px
        font-size: 12px
        .inputField
          font-size: 12px
        .tagList
          height: 110px
          bottom: -108px
          div
            display: flex
            align-items: center
            position: relative
            background: white
            width: 100%
            height: 30px
    .buttonsWrap
      width: 210px
      div
        display: flex
        justify-content: center
        align-items: center
        width: 100px
        height: 29px
        border-radius: 5px
        cursor: pointer
        font-size: 11px

