.chatWorkSpaceWrap
  // width: 100%
  // min-width: 100%
  // height: calc(100% - 91px)
  // min-height: calc(100% - 91px)
  // max-height: calc(100% - 91px)
  background-color: inherit
  flex-grow: 1
  .header
    display: flex
    align-items: center
    justify-content: space-between
    height: 90px
    border-bottom: 1px solid #DFDFDF
    border-color: #DFDFDF
    box-sizing: border-box
    padding: 0 39px 0 17px
    background-color: inherit
    .infoHeader
      display: flex
      justify-content: space-between
      align-items: center
      min-width: 340px
      width: 400px
      max-width: 400px
  .main
    display: flex
    align-items: center
    height: calc(100% - 90px)

.chatWorkSpaceWrap.darkTheme
  .header
    border-color: #4E4E4E
