.mainWrap
  overflow: hidden
  display: flex
  width: 100vw
  height: 100vh
  .workArea
    width: calc(100% - 231px)
    max-width: calc(100% - 54px)
    flex-grow: 1
    height: 100vh
    transition: width 0.2s ease, min-width 0.2s ease


// @media (max-width: 1450px)
//   .mainWrap
//     .workArea
//       min-width: calc(100% - 230px)
//       max-width: calc(100% - 55px)
//       transition: width 0.2s ease, min-width 0.2s ease