.workLinesWrap
  display: flex
  flex-direction: column
  width: 100%
  overflow-x: hidden
  overflow-y: scroll
  box-sizing: border-box
  padding: 20px
  position: relative
  height: 100%
  .bottomLine
    grid-column: 1 / -1
    width: 100%
    position: relative
.noSearchResults
  position: absolute
  font-size: 14px
  font-family: "SF Pro Regular", sans-serif
  top: 10px
  left: 30px
  color: #878787
