.wrapper
  box-sizing: border-box
  padding: 0 20px 0 30px
  //background: rgba(37, 171, 39, 0.1)
  display: flex
  position: relative

  .leftBlock
    display: flex
    flex-direction: column
    justify-content: space-between
    padding: 20px 0
    margin-right: 16px

  .circle
    display: block
    width: 20px
    height: 20px
    border-radius: 50%

  .avatar
    display: block
    width: 20px
    height: 20px
    border-radius: 50%

  .rightBlock
    flex-grow: 1
    display: flex
    align-items: flex-start
    justify-content: space-between
    padding-bottom: 20px

  .timeBlock
    margin: 0
    position: absolute
    top: 5px
    right: 12px
    font-size: 10px
    line-height: 16px
    color: #49494B

  .infoBlock
    display: flex
    flex-direction: column
  .infoItem
    margin-top: 10px

    .option
      margin: 0
      font-size: 12px
      line-height: 16px
      color: #BABABA
    .value
      margin: 0
      font-size: 12px
      line-height: 16px
      color: #49494B


.wrapperCollapsed
  padding: 13px 30px 20px 30px
  display: flex
  flex-direction: column

  .contentBlock
    padding: 0 0 10px 5px



