@import 'theme/colors'
  
.wrapper
  flex: 0 0 270px
  border-right: 1px solid $color-border-grey
  overflow-y: scroll

.button
  padding: 25px 10px 0
  display: flex
  justify-content: center

.ico
  position: absolute
  right: 10px