.prevVersionsWrap
  display: flex
  flex-direction: column
  align-items: center
  width: 85%
  min-height: 378px
  height: 378px
  max-height: 378px
  margin: 0 0 10px 0
  .nameBlock
    display: flex
    align-items: flex-end
    width: 98%
    box-sizing: border-box
    padding: 30px 0 25px 0
    border-bottom: 1px solid rgb(223, 223, 223)
    margin: 0 0 30px 0
    .fileWrap
      position: relative
      width: 50px
      height: 58px
      margin: 0 30px 0 0
    .inputWrap
      width: 80%
      height: 77%
  .prevChanged
    display: flex
    flex-direction: column
    width: 98%
    .infoWrap
      display: flex
      font-family: "SF Pro Regular", sans-serif
      font-size: 13px
      margin: 0 0 20px 0
      .name
        margin: 0 10px 0 0
        color: rgb(121, 121, 121)
    .prevFileBlock
      display: flex
      margin: 0 0 8px 0
      .fileWrap
        position: relative
        width: 50px
        min-width: 50px
        height: 58px
        margin: 0 15px 0 0
      .infoFile
        display: flex
        flex-direction: column
        justify-content: space-around
        span
          margin: 5px 0 10px 0
          font-family: "SF Pro Regular", sans-serif
          font-size: 13px
        .fileInfo
          display: flex
          align-items: center
          justify-content: space-between
          width: 70%
          .signs
            white-space: nowrap
            img
              margin: 0 10px 0 0
          span
            margin: 0
          .fileInfoText
            display: flex
            span
              margin: 0 10px 0 0
              white-space: nowrap
            .sizeNow
              color: rgb(136, 136, 136)
    .description
      font-family: "SF Pro Regular", sans-serif
      font-size: 10px
      letter-spacing: 0.4px
      line-height: 17px
      width: 98%
      margin: 0 0 13px 0
    .restoreWrap
      display: flex
      justify-content: center
      width: 100%
      .restore
        font-family: "SF Pro Regular", sans-serif
        font-size: 11px
        box-sizing: border-box
        padding: 11px 23px
        border-radius: 30px
        background: rgb(235, 247, 232)
        cursor: pointer

