.wrapper
  width: 489px
  padding-bottom: 10px
  position: relative
  font-family: 'SF Pro Medium', sans-serif
  .actionBlock
    display: flex
    justify-content: center
    align-items: center
    margin-top: 15px
  .top
    display: flex
    align-items: center
    justify-content: flex-end
    padding: 10px

.content
  padding: 10px 20px
  text-align: center

  .titleWrap
    text-align: center
    .titleImg
      width: 45px
      height: 45px
    .title
      margin: 16px 0 26px 0
      font-size: 18px
      line-height: 25px
      color: #2B353E

  .orItem
    font-size: 10px
    line-height: 13px
    color: #B4B4B4
    margin: 19px 0 8px 0
    text-align: center

  .inputWrap
    text-align: right
    padding: 0 10px

    .input::placeholder
      font-size: 13px
      line-height: 18px
      font-family: 'SF Pro Light', sans-serif
      color: #B0B0B0

    .link
      margin-top: 6px
      cursor: pointer
      font-size: 13px
      line-height: 17px
      color: #B4B4B4
      font-family: 'SF Pro Regular', sans-serif



  .actionBtn
    border-radius: 3px
    background: #4086F1
    font-size: 13px
    line-height: 18px
    color: #fff
    box-shadow: 0 2px 4px #DFDFDF


.closeWrap
  position: absolute
  top: 15px
  right: 15px

.close
  width: 20px
  height: 20px
  cursor: pointer
  position: relative

  .times
    &:before
      content: ''
      position: absolute
      top: 0
      right: 8px
      width: 2px
      height: 18px
      border-radius: 10px
      background: #C7C7C7
      transform: rotate(45deg)
    &:after
      content: ''
      position: absolute
      top: 0
      right: 8px
      width: 2px
      height: 18px
      border-radius: 10px
      background: #C7C7C7
      transform: rotate(-45deg)
