.wrapper
  background-color: #fff
.workAreaWrap
  display: flex
  width: 100%
  height: 100%
  .folderListWrap
    display: flex
    flex-direction: column
    width: 100%
    overflow-x: hidden
    overflow-y: scroll
    box-sizing: border-box
  .folderListWrap
    display: flex
    flex-direction: column
    width: 100%
    height: 100%
    overflow-x: hidden
    overflow-y: scroll
    .bottomLine
      width: 100%
      position: relative
    .bottomLineHidden
      width: 1px
      transition: height 1s ease-in-out, width 1s ease-in-out
  .workSpace
    display: flex
    flex-direction: column
