.wrapper
    display: flex
    flex-direction: column
    width: 308px
    min-width: 308px
    border-right: 1px solid #e5e5e5
    overflow-x: hidden
    overflow-y: scroll
    scrollbar-width: thin
    scrollbar-color: #4086F1 #F5F5F5
    &::-webkit-scrollbar-track
        background: #0A3AAB
    &::-webkit-scrollbar-track
        -webkit-box-shadow: none
        background-color: #F5F5F5
    &::-webkit-scrollbar
        width: 3px
        background-color: #FFFFFF
    &::-webkit-scrollbar-thumb
        background-color: #4086F1