.workLinesWrap::-webkit-scrollbar-track
  background: #0A3AAB
.workLinesWrap::-webkit-scrollbar-track
  -webkit-box-shadow: none
  background-color: #F5F5F5
.workLinesWrap::-webkit-scrollbar
  width: 12px
  background-color: #FFFFFF
.workLinesWrap::-webkit-scrollbar-thumb
  background-color: #4086F1
.workLinesWrap
  display: flex
  flex-direction: column
  width: 100%
  height: calc(100% - 90px - 55px)
  overflow-x: hidden
  overflow-y: scroll
  box-sizing: border-box
  padding: 10px