.workLinesWrap::-webkit-scrollbar-track
  background: #0A3AAB
.workLinesWrap::-webkit-scrollbar-track
  -webkit-box-shadow: none
  background-color: #F5F5F5
.workLinesWrap::-webkit-scrollbar
  width: 12px
  background-color: #FFFFFF
.workLinesWrap::-webkit-scrollbar-thumb
  background-color: #4086F1
.workLinesWrap
  display: flex
  flex-direction: column
  width: 100%
  overflow-x: hidden
  overflow-y: scroll
  box-sizing: border-box
  padding: 10px
  position: relative
  .bottomLine
    grid-column: 1 / -1
    width: 100%
    position: relative
.noSearchResults
  position: absolute
  font-size: 14px
  font-family: "SF Pro Regular", sans-serif
  top: 10px
  left: 30px
  color: #878787