.inputWrap
  display: flex
  flex-direction: column
  align-items: flex-start
  position: relative

  .input
    box-sizing: border-box
<<<<<<< HEAD
    height: 47px
=======
    height: 40px
>>>>>>> e2bca16da87ec29e6978e52809d9e1f1494eed87
    min-width: 237px
    width: 100%
    padding: 0 15px
    border-radius: 7.5px
<<<<<<< HEAD
    border: solid 1px #E3E3E3
    background: #FAFAFA
    color: #2B353E
    font-size: 15px
    line-height: 20px
    font-weight: 500
=======
    border: 1px solid #E3E3E3
    background: #FFFFFF
    color: #2B353E
    font-family: "SF Pro Light"
    font-size: 14px
    line-height: 19px

    &:disabled
      background: #EBF2FD
      border: none

>>>>>>> e2bca16da87ec29e6978e52809d9e1f1494eed87
    &::placeholder
      font-size: 11px
      font-family: inherit
      line-height: 15px
      color: #848484

    &:focus
<<<<<<< HEAD
=======
      border: 1px solid #4086F1
>>>>>>> e2bca16da87ec29e6978e52809d9e1f1494eed87
      outline: none

  .label
    color: #949494
<<<<<<< HEAD
    font-size: 15px
    font-family: "SF Pro Light"
    line-height: 20px
=======
    font-size: 14px
    line-height: 19px
>>>>>>> e2bca16da87ec29e6978e52809d9e1f1494eed87
    letter-spacing: -0.08px
    margin-bottom: 5px

  .eye
    cursor: pointer
    position: absolute
<<<<<<< HEAD
    top: calc(47px / 2 + 18px)
=======
    top: calc(40px / 2 + 18px)
>>>>>>> e2bca16da87ec29e6978e52809d9e1f1494eed87
    right: 10px
    width: 18px
    height: 16px

  .redBorder
    border: 1px solid red