@keyframes ticked
  0%
    width: 0
  100%
    width: 15px

@keyframes show
  0%
    opacity: 0
  100%
    opacity: 1

.main
  display: flex
  flex-direction: column
  align-items: center
  color: #777777
  animation: show 0.3s linear
  .hubIcon
    min-width: 165px
    width: 166px
    max-width: 233px
    margin-block-start: 0
    margin: 30px 0 55px 0
    cursor: pointer
  .registrationType
    display: flex
    margin: 0 0 25px 0
    border: 1px solid white
    box-sizing: border-box
    padding: 5px 10px
    border-radius: 5px
    cursor: pointer
    color: white
    font-family: "SF Pro Regular", sans-serif
    position: relative
    min-width: 155px
    width: 155px
    justify-content: center
    &:hover
      background-color: rgba(0, 0, 0, 0.47)
      transition: background-color 0.2s ease-in
    .regList
      display: flex
      flex-direction: column
      position: absolute
      left: 0
      top: 25px
      z-index: 2
      padding: 5px 0
      .regTypeEl
        padding: 5px 10px
        box-sizing: border-box
        background: rgba(0, 0, 0, 0.6)
      .chosenReg
        background: #1b1c6c
  .registerWrap
    padding-bottom: 20px
    width: 458px
    height: auto
    background: white
    display: flex
    justify-content: flex-start
    align-items: center
    flex-direction: column
    border-radius: 5px
    position: relative
    .cross
      position: absolute
      top: 16px
      right: 7px
      width: 16px
      height: 2px
      background: #a7a4a4
      transform: rotate(45deg)
      cursor: pointer
    .cross:before
      content: ''
      position: absolute
      top: 0
      right: 0
      width: 16px
      height: 2px
      background: #a7a4a4
      transform: rotate(90deg)
    .title
      font-size: 19px
      margin: 25px 0 18px 0
    .inputWrap
      display: flex
      flex-direction: column
      width: 91%
      position: relative
      margin: 0 0 12px 0
      .inputName
        font-size: 11px
        letter-spacing: 0.4px
        margin: 0 0 10px 0
        span
          color: red
      .inputField
        border: 1px solid #bfbfbf
        height: 29px
        border-radius: 5px
        background: #FAFAFA
        padding: 0 40px 0 18px
      .redBorder
        border: 1px solid red
      .eye
        position: absolute
        right: 15px
        top: 30px
        cursor: pointer
        width: 18px
      .invisible
        position: absolute
        right: 15px
        top: 30px
        cursor: pointer
        width: 18px
    .agreementWrap
      display: flex
      justify-content: flex-start
      width: 92%
      font-size: 10px
      .agreement
        display: flex
        justify-content: center
        align-items: center
        width: 8%
        div
          display: flex
          justify-content: center
          align-items: center
          width: 20px
          height: 20px
          border: 1px solid #c4c2c2
          border-radius: 5px
          cursor: pointer
        div img
          width: 15px
          animation: ticked 0.2s ease
      .agreementsText
        width: 91%
        line-height: 16px
        span
          color: #477DE1
          cursor: pointer
        span:hover
          color: #518bf3
    .button
      display: flex
      justify-content: center
      align-items: center
      background: #4086F1
      border-radius: 5px
      width: 127px
      height: 35px
      color: white
      font-size: 12px
      cursor: pointer
      transition: background 0.2s ease
      margin: 23px 0 0 0
    .button:hover
      background: #3979db
      transition: background 0.2s ease
    .orSpan
      margin: 13px 0 10px 0
    .socialNetworks
      display: flex
      align-items: center
      justify-content: center
      margin: 0 0 15px 0
      div
        display: flex
        justify-content: center
        align-items: center
        background: black
        width: 35px
        height: 35px
        margin: 0 8px 7px 0
        border-radius: 50%
        cursor: pointer
      div:last-child
        margin-right: 0
      .facebook
        background: #3B5998
      .facebook:hover
        background: #36538f
      .twitter
        background: #76A9EA
      .twitter:hover
        background: #6b9ad6
      .google
        background: #DC4E41
      .google:hover
        background: #c8463b
      .linkedIn
        background: #007AB9
      .linkedIn:hover
        background: #0073ac
      .vk
        background: #4D76A1
      .vk:hover
        background: #43688f
      .pinterest
        background: #C92027
      .pinterest:hover
        background: #ba1d24
    .registration
      font-size: 11px
      letter-spacing: 0.3px
      span
        color: #477DE1
        cursor: pointer
      span:hover
        color: #518bf3
  .business
    width: 458px
    height: auto

.buttonsGroup
  margin: 20px 0
  display: flex
  justify-content: center

  .toggleBtn
    margin: 0 5px
    border: 1px solid #E1E1E1
    border-radius: 3px
    width: 128px
    height: 33px
    display: flex
    align-items: center
    justify-content: center
    font-size: 12px
    line-height: 16px
    color: #2B353E
    &.active
      background: #34C6A2
      color: #FFFFFF
      border: none

@media (max-width: 1420px)
  .main
    .hubIcon
      min-width: 145px
      width: 146px
      margin: 0 0 15px 0
    .registerWrap
      width: 398px
      //height: 435px
      .title
        font-size: 15px
        margin: 15px 0 10px 0
      .inputWrap
        margin: 0 0 6px 0
        .inputName
          font-size: 10px
          letter-spacing: 0.4px
          margin: 0 0 10px 0
      .agreementWrap
        width: 94%
        font-size: 9px
      .button
        display: flex
        justify-content: center
        align-items: center
        background: #4086F1
        border-radius: 5px
        width: 117px
        height: 30px
        color: white
        font-size: 10px
        margin: 13px 0 0 0
      .orSpan
        font-size: 9px
        margin: 8px 0 8px 0


@media (max-height: 625px)
  .main
    .registrationType
      margin: 0 0 14px 0
    .registerWrap
      width: 400px
      height: 390px
      .socialNetworks
        margin: 0 0 8px 0
        div 
          width: 30px
          height: 30px
          img
            transform: scale(.88)
      .title
        margin: 15px 0 5px 0
      .buttonsGroup
        margin: 12px 0
      .inputWrap
        margin: 0 0 6px 0
        .inputName
          margin: 0 0 4px 0
      .orSpan
        margin: 4px 0 4px 0
      .inputWrap
        .eye
          top: 22px
          cursor: pointer
        .invisible
          top: 22px