@import "theme/colors"
  
.bottomPanel
  display: flex
  justify-content: space-between
  background: $color-background-grey
  padding: 15px 20px
  width: 100%
  .buttons
    display: flex
    align-items: center
    gap: 30px