.contacts
  display: flex
  align-items: stretch

  .contactMenu
    min-width: 270px
    border-right: 1px solid #ECECEC
    background: #FCFCFE

  .contactList
    min-width: 309px
    height: 100%
    border-right: 1px solid #ECECEC

  .contactData
    flex-grow: 1
    height: 100%