.contacts
  display: flex
  align-items: stretch
  height: 100%

  .contactMenu
    min-width: 270px
    border-right: 1px solid #ECECEC
    background: #FCFCFE

  .contactList
    min-width: 309px
    border-right: 1px solid #ECECEC

  .contactData
    flex-grow: 1
