.wrapper
    position: relative
    font-family: SF Pro Regular
    letter-spacing: -0.08px
    color: #2B353E
    padding: 21px 0
    .cross
        position: absolute
        top: 25px
        right: 16px
        width: 21px
        height: 2px
        background: #a7a4a4
        transform: rotate(45deg)
        cursor: pointer
        &::before
            content: ''
            position: absolute
            top: 0
            right: 0
            width: 21px
            height: 2px
            background: inherit
            transform: rotate(90deg)
        &:hover
            background: #4086F1
    .title
        font-family: SF Pro Medium
        font-size: 18px
        text-align: center
        margin: 20px 0 34px
    .sendFile
        .uploadWrap
            display: flex
            justify-content: center
            align-items: center
            width: 490px
            height: 140px
            position: relative
            margin: 0 0 5px 0
            .text
                font-size: 13px
                line-height: 16px
                color: #B0B0B0
                padding-top: 20px
                margin-left: 12px
                .download
                    text-decoration: underline
                    color: #4086F1
                    cursor: pointer
            .inputFile
                width: 100%
                height: 100%
                position: absolute
                left: 0
                top: 0
                opacity: 0
                cursor: pointer
    .textLogo_container
        margin: 0 auto
        box-shadow: 0px 2px 4px rgba(140, 140, 140, 0.5)
        border-radius: 2px
        width: 190px
        height: 42px
        margin-bottom: 35px

        .textLogo
            overflow: hidden
            font-size: 13px
            color: #49494B
            line-height: 40px
            text-align: center
            border: none
            outline: none
            width: 100%
            height: 100%

    .picArea
        margin: 0 auto
        width: 418px
        height: 232px
        border: 1px solid #E3E3E3
        border-radius: 7px
        overflow: hidden

        .picWrap
            height: 100%
            display: inline-block
            position: relative
            top: 50%
            left: 50%
            transform: translate(-50%, -50%)

            display: flex
            align-items: center
            justify-content: center

            .editablePicture
                opacity: 0
                position: absolute
                object-fit: contain
                max-height: 232px
                max-width: 418px
                -webkit-touch-callout: none
                -webkit-user-select: none
                -khtml-user-select: none
                -moz-user-select: none
                -ms-user-select: none
                user-select: none
                z-index: 0
            .picture
                opacity: 1
                height: 100%
                width: 100%
                background-size: contain
                background-repeat: no-repeat
                background-position: center
                -webkit-touch-callout: none
                -webkit-user-select: none
                -khtml-user-select: none
                -moz-user-select: none
                -ms-user-select: none
                user-select: none
                z-index: 1

            .cropArea
                width: 192px
                height: 64px
                min-width: 63px
                min-height: 21px
                position: absolute
                background: transparent
                border-radius: 2px
                cursor: grab
                box-shadow: 0px 0px 0px 300px rgba(0, 0, 0, .5)
                z-index: 2
                .dot
                    position: absolute
                    width: 5px
                    height: 5px
                    border-radius: 50%
                    border: 1px solid #fff
                .dotLT
                    top: -10px
                    left: -10px
                    cursor: nw-resize
                .dotRT
                    top: -10px
                    right: -10px
                    cursor: ne-resize
                .dotLB
                    bottom: -10px
                    left: -10px
                    cursor: nesw-resize
                .dotRB
                    bottom: -10px
                    right: -10px
                    cursor: nw-resize

    .buttonsWrap
        display: flex
        width: 290px
        justify-content: space-between
        margin: 29px auto 0
        div
            display: flex
            justify-content: center
            align-items: center
            width: 140px
            height: 39px
            border-radius: 5px
            cursor: pointer
            font-size: 14px
        .cancel
            background: #e3e3e3
            border: 1px solid #e9e9e9
            color: grey
        .cancel:hover
            background: #fc7a7a
            color: white
        .action
            background: #477DE1
            border: 1px solid #477DE1
            color: white
        .action:hover
            background: #3b6dcb