.wrapper
    position: relative
    font-family: SF Pro Regular
    letter-spacing: -0.08px
    color: #2B353E
    padding: 21px 0
    .cross
        position: absolute
        top: 25px
        right: 16px
        width: 21px
        height: 2px
        background: #a7a4a4
        transform: rotate(45deg)
        cursor: pointer
        &::before
            content: ''
            position: absolute
            top: 0
            right: 0
            width: 21px
            height: 2px
            background: inherit
            transform: rotate(90deg)
        &:hover
            background: #4086F1
    .title
        font-family: SF Pro Medium
        font-size: 18px
        text-align: center
        margin: 20px 0 34px
    .sendFile
        .uploadWrap
            display: flex
            justify-content: center
            align-items: center
            width: 490px
            height: 140px
            position: relative
            margin: 0 0 5px 0
            .text
                font-size: 13px
                line-height: 16px
                color: #B0B0B0
                padding-top: 20px
                margin-left: 12px
                .download
                    text-decoration: underline
                    color: #4086F1
                    cursor: pointer
            .inputFile
                width: 100%
                height: 100%
                position: absolute
                left: 0
                top: 0
                opacity: 0
                cursor: pointer

    .buttonsWrap
        display: flex
        width: 290px
        justify-content: space-between
        margin: 29px auto 0
        div
            display: flex
            justify-content: center
            align-items: center
            width: 140px
            height: 39px
            border-radius: 5px
            cursor: pointer
            font-size: 14px
        .cancel
            background: #e3e3e3
            border: 1px solid #e9e9e9
            color: grey
        .cancel:hover
            background: #fc7a7a
            color: white
        .action
            background: #477DE1
            border: 1px solid #477DE1
            color: white
        .action:hover
            background: #3b6dcb
