.searchWrap
  display: flex
  align-items: center
  min-width: 300px
  width: 365px
  height: 40px
  border: 1px solid #d0d0d0
  input
    border: none
    outline: none
    width: 83.5%
    height: 90%
    margin: 0 21px 0 0
    padding: 0 0 0 13px
    box-sizing: border-box
  input::placeholder
    font-family: "SF Pro Regular", sans-serif
    font-size: 10px
    letter-spacing: 0.4px
    color: #c8c8c8
  img
    cursor: pointer
