.fileBar
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  min-width: 175px
  height: 185px
  min-height: 185px
  position: relative
  z-index: 3
  cursor: default
  font-family: "SF Pro Light", sans-serif
  .menu
    width: 10px
    height: 10px
    position: absolute
    right: -10px
    top: 0
    box-shadow: 0 2px 5px #dedede
    z-index: 2
    span
      width: 3px
      height: 3px
      background: #477DE1
      position: absolute
      top: 15px
      right: 3px
    span:before,
    span:after
      content: ''
      width: 3px
      height: 3px
      background: #477DE1
      position: absolute
    span:before
      transform: translateY(7px)
    span:after
      transform: translateY(-7px)
    &:hover
      background: linear-gradient(314deg, white 0%, white 50%, rgba(64, 134, 241, .1) 50%)
    &:hover:after
      background: rgba(64, 134, 241, .1)
    &:after
      content: ''
      width: 10px
      height: 32px
      position: absolute
      right: 0
      top: 5px
      transform: skewY(-45deg)
      cursor: pointer
      box-shadow: 0 2px 5px #dedede
      z-index: 1

.fileBarChosen
  display: flex
  flex-direction: column
  align-items: center
  height: 185px
  position: relative
  z-index: 3
  cursor: default
  background: rgba(64, 134, 241, .1)
  box-shadow: none
  .menu
    background: linear-gradient(314deg, white 0%, white 50%, rgba(64, 134, 241, .1) 50%)
    box-shadow: none
  .menu:after
    box-shadow: none
    background: rgba(64, 134, 241, .1)
  .file:after
    background: linear-gradient(45deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 41%, rgba(64, 134, 241, .1) 41%)
.mainMenuItems
  margin: 10px 0 20px 0
.additionalMenuItems
  margin: 0 0 10px 0

.content
  display: flex
  justify-content: center
  align-items: stretch

  .contentLeft
    margin-right: 20px
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    box-shadow: 0 2px 5px #dedede
    min-width: 140px
    min-height: 140px

    .contentInfo
      font-size: 14px
      line-height: 18px
      color: #49494B
      margin-top: 17px
      margin-bottom: 0
    .contentImg
      min-width: 63px
      min-height: 63px

  .contentRight
    margin: 5px 0
    height: 100%
    display: flex
    flex-direction: column
    justify-content: space-between
    align-items: flex-start

    p
      margin-right: 20px
      font-size: 12px
      line-height: 14px
      color: #7B7B7B

    .buyBtn
      display: flex
      justify-content: center
      align-items: center
      box-shadow: 0 2px 4px #dedede
      border-radius: 3px
      width: 130px
      height: 30px
      background: #4086F1
      color: white
      font-size: 12px
      cursor: pointer
      overflow: hidden
      transition: background 0.2s ease-in-out
      &:hover
        background: #336dc4
        transition: background 0.2s ease-in-out