.wrapper
  box-sizing: border-box
  width: 500px
  height: auto
  padding: 20px 40px
  font-family: 'SF Pro Regular', sans-serif

  .titleWrap
    display: flex
    justify-content: center
    align-items: center
    margin: 20px 0
    .title
      margin: 0
      font-size: 18px
      line-height: 25px
      color: #2B353E

  .content
    padding: 25px 14px
    background: rgba(64, 134, 241, 0.1)
    border-radius: 8px

    .itemBlock
      margin-bottom: 18px
      &:last-child
        margin-bottom: 0

    .infoWrap
      margin-top: 4px
      display: flex
      align-items: center

      .avatar
        margin-right: 14px
        width: 35px
        height: 35px
        border-radius: 50%

      .valueWrap
        display: flex
        align-items: center
        margin-right: 40px

    .icons
      margin-left: 25px
      display: flex
      align-items: center
      .circle
        margin: 0 5px
        width: 20px
        height: 20px
        border-radius: 50%
      .icon
        margin: 0 5px
        width: 20px
        height: 20px

    .option
      margin: 0 11px 0 0
      font-size: 11px
      line-height: 15px
      color: #B0B0B0

    .value
      margin: 0
      font-size: 14px
      line-height: 20px
      color: #2B353E
      max-width: 312px


  .actionBlock
    margin-top: 25px
    display: flex
    align-items: center
    justify-content: center

    .actionBtn
      display: flex
      justify-content: center
      align-items: center
      width: 140px
      height: 39px
      border-radius: 5px
      cursor: pointer
      font-size: 14px
      margin: 0 4px
      background: #477DE1
      border: 1px solid #477DE1
      color: white
      &:hover
        background: #3b6dcb
