@import "src/theme/theme"

@keyframes showList
    from
        display: flex
        height: 0px
        padding: 0
    to
        height: 162px
        padding: 10px

.selectShow
    border-radius: 5px
.selectHide
    border-radius: 5px 5px 0 0
.select
    position: relative
    display: flex
    align-items: center
    width: 100%
    min-height: 45px
    height: 100%
    border: 1px solid $color-border-dark
    padding: 0 18px

    .optionsList
        position: absolute
        top: 100%
        left: -1px
        width: calc(100% + 2px)
        overflow-y: auto
        border-radius: 0 0 5px 5px
        background-color: $color-white
        display: none
        flex-wrap: wrap
        gap: 18px
        justify-content: space-between

    .optionsListShow
        display: flex
        height: 162px
        padding: 10px
        border: 1px solid $color-border-dark
        animation: showList 0.2s ease
    .innerIcon
        width: 30px
        cursor: pointer
        &:hover
            transform: scale(1.2)
.playButton
    position: absolute
    right: 15px
    transform: rotateZ(270deg)
    transition: transform 0.2s ease
    cursor: pointer
.playBattonShow
    transform: rotateZ(90deg)
    transition: transform 0.2s ease
