.wrapper
  z-index: 9
  transition: all 0.3s ease

  box-sizing: border-box
  padding-top: 10px
  min-width: 210px
  border-radius: 5px
  background: #FFFFFF
  box-shadow: 2px 2px 15px #DFDFDF
  position: absolute
  top: 50px
  right: -162px
  &:before
    content: ''
    position: absolute
    top: -10px
    left: 20px
    width: 0
    background: none
    border-bottom: 10px solid #FFFFFF
    border-left: 7px solid transparent
    border-right: 7px solid transparent


.list
  margin: 0
  padding: 0
  list-style: none
  display: flex
  flex-direction: column

  .item
    cursor: pointer
    padding: 10px
    display: flex
    align-items: center
    &:hover
      background: rgba(64, 134, 241, 0.1)
      transition: background-color 0.2s

    .imgWrap
      width: 40px
      margin-right: 5px
      text-align: center

    p
      display: block
      max-width: 100%
      white-space: nowrap
      text-overflow: ellipsis
      overflow: hidden
      margin: 0
      font-size: 13px
      line-height: 17px
      color: #454545

