.grey path
  fill: #efeeee
.grey polygon
  fill: #efeeee
.wheat path
  fill: #c4aa8f
.wheat polygon
  fill: #FEDCB8
.blue path
  fill: #326bc1
.blue polygon
  fill: #4086F1
.green path
  fill: #27967a
.green polygon
  fill: #34C6A2
.orange path
  fill: #cb8d40
.orange polygon
  fill: #F9AD50
.pink path
  fill: #c15862
.pink polygon
  fill: #F4707D
.purple path
  fill: #792794
.purple polygon
  fill: #A234C6
.red path
  fill: #992928
.red polygon
  fill: #C63534
.aqua path
  fill: #267d8d
.aqua polygon
  //fill: #34AFC6
  fill: rgb(52, 174, 196)
.brown path
  fill: #a0602a
.brown polygon
  fill: #C67734
.darkblue path
  fill: #40289b
.darkblue polygon
  fill: #5134C6