.wrapper
  height: 60px
  background: #FAFAFA
  border-bottom: 1px solid #e5e5e5
  box-sizing: border-box

.addMemberBtn
  cursor: pointer
  display: flex
  align-items: center
  justify-content: center
  border: 1px solid #ECECEC

.list
  height: 100%
  margin: 0
  padding: 0 20px
  list-style: none
  display: flex
  align-items: center

  .item
    position: relative
    margin-right: 20px
    background: #F6F6F6
    border-radius: 50%
    width: 40px
    height: 40px

    .active
      position: absolute
      bottom: 0
      right: 0
      width: 10px
      height: 10px
      background: #48A814
      border-radius: 50%
      border: 1px solid #ffffff

    .itemImg
      width: 100%