@import "theme/theme"
  
.wrapper
  padding-bottom: 30px
  .dayItem
    width: 100%
    display: flex
    align-items: center
    flex-direction: column
    .day
      margin: 0
      font-size: 13px
      line-height: 17px
      color: $color-text-grey
    .dayNumber.active
      color: $color-white
      background: $color-blue-smooth
    .dayNumber
      cursor: pointer
      background: transparent
      width: 40px
      height: 40px
      display: flex
      align-items: center
      justify-content: center
      border-radius: 50%
      margin: 12px 0 0 0
      font-size: 26px
      line-height: 35px
      color: $color-text-grey
      transition: all 0.2s ease
      &:hover
        color: $color-white
        background: $color-blue-smooth
