@import "theme/theme"

thead .fc-scroller-harness
  border-bottom: 1px solid $color-grey-secondary

.fc
  height: auto

  &-scrollgrid
    border: none !important

  &-theme-standard th
    border: none

  &-view-harness
    height: calc(45px * 24 + 30px) !important

  &-event-main
    position: relative

  & .fc-daygrid-day.fc-day-today
    background-color: transparent

  & .fc-timegrid-col.fc-day-today
    background-color: transparent

  & .fc-timegrid-slot
    height: 45px

  & .fc-timegrid-axis
    width: 50px

  &-timegrid-slots table tr td:first-child
    border: none
    width: 50px
    display: flex
    align-items: center
    justify-content: center
    font-size: 11px

  &-timegrid-event
    background: none
    border: none
    margin-left: -3px
    margin-right: -3px

  &-timegrid-more-link
    box-shadow: none

.fc-timegrid-event-harness-inset .fc-timegrid-event,
.fc-timegrid-event.fc-event-mirror,
.fc-timegrid-more-link
  box-shadow: none

.fc-timegrid-event-harness-inset

.month
  .fc-view-harness
    height: calc(130px * 5 + 30px) !important
