@import "colors"
@import "styles"

//Simple button
.button-blue
  background: $color-primary
  border: 1px solid $color-primary
  &:hover
    background: $color-secondary

.button-orange
  background: $color-primary
  border: 1px solid $color-primary
  &:hover
    background: $color-secondary

.button-turquoise
  background: $color-primary
  border: 1px solid $color-primary
  &:hover
    background: $color-secondary

.button-dark
  background: $color-primary
  border: 1px solid $color-primary
  &:hover
    background: $color-secondary

//Button light color
.button-light-blue
  border: 1px solid $color-border-grey
  &:hover
    background: $color-blue-light
    border: 1px solid $color-scrollbar

.button-light-orange
  border: 1px solid $color-border-grey
  &:hover
    background: $color-blue-light
    border: 1px solid $color-scrollbar

.button-light-turquoise
  border: 1px solid $color-border-grey
  &:hover
    background: $color-blue-light
    border: 1px solid $color-scrollbar

.button-light-dark
  border: 1px solid $color-border-grey
  &:hover
    background: $color-blue-light
    border: 1px solid $color-scrollbar