// General colors
$color-white: white

//Blue theme colors
$color-primary: #477DE1
$color-secondary: #3b6dcb
$color-linear: #10105f

//Orange theme colors
$color-primary-orange: orange
$color-secondary-orange: #c48b23
$color-linear-orange: #efd29d