// General colors
$color-white: white

//Blue theme colors
$color-primary: #477DE1
$color-secondary: #3b6dcb
$color-blue-light: #4086F1
$color-scrollbar: #4086F1
$color-scrollbar-dark: #0A3AAB
$color-linear: #10105f

//Orange theme colors
//TODO - Colors needs to be changed
$color-primary-orange: orange
$color-secondary-orange: #c48b23
$color-scrollbar-orange: orange
$color-scrollbar-dark-orange: #c48b23
$color-linear-orange: #efd29d