// General colors
$color-white: white
$color-border-grey: #e5e5e5
$color-text-grey: #49494B
$color-shadow: #DEDEDE
$color-background-grey: #F5F5F5

//Blue theme colors
$color-primary: #477DE1
$color-secondary: #3b6dcb
$color-blue-smooth: #4086F1
$color-blue-dark: #0A3AAC
$color-scrollbar: #4086F1
$color-scrollbar-dark: #0A3AAB
$color-linear: linear-gradient(180deg, #4543F7 0%, #0A3AAB 100%)
$color-blue-light: #EBF2FD

//Orange theme colors
//TODO - Colors needs to be changed
$color-primary-orange: orange
$color-secondary-orange: #c48b23
$color-secondary-dark-orange: #EA4631
$color-scrollbar-orange: orange
$color-scrollbar-dark-orange: #c48b23
$color-linear-orange: linear-gradient(180deg, #EA7D30 0%, #EA4631 100%)

//Turquoise theme colors
$color-primary-turquoise: #477DE1
$color-secondary-turquoise: #3b6dcb
$color-secondary-dark-turquoise: #18697C
$color-blue-light-turquoise: #4086F1
$color-scrollbar-turquoise: #10AADD
$color-scrollbar-dark-turquoise: #18697C
$color-linear-turquoise: linear-gradient(180deg, #10AADD 0%, #18697C 100%)

//Dark theme colors
$color-primary-dark: #477DE1
$color-secondary-dark: #3b6dcb
$color-secondary-light-dark: #3F3F3F
$color-blue-light-dark: #4086F1
$color-scrollbar-dark: #3F3F3F
$color-scrollbar-dark-dark: #222222
$color-linear-dark: linear-gradient(180deg, #222222 0%, #3F3F3F 100%)