@import "colors"

.linear-blue
  background: $color-linear

.linear-orange
  background: $color-linear-orange

.linear-turquoise
  background: $color-linear-turquoise

.linear-dark
  background: linear-gradient(180deg, #222222 0%, #3F3F3F 100%)