@import "colors"

@mixin flex-center
  display: flex
  justify-content: center
  align-items: center

//SidePanel colors
.menuItemChosen-blue
  background: $color-blue-dark

.menuItem-blue
  &:hover
    background: $color-blue-dark

.menuItemChosen-orange
  background: $color-secondary-dark-orange

.menuItem-orange
  &:hover
    background: $color-secondary-dark-orange

.menuItemChosen-turquoise
  background: $color-secondary-dark-turquoise

.menuItem-turquoise
  &:hover
    background: $color-secondary-dark-turquoise

.menuItemChosen-dark
  background: $color-secondary-light-dark

.menuItem-dark
  &:hover
    background: $color-secondary-light-dark

//Colors on hover element
.interaction-border-blue
  &:hover
    border: 1px solid $color-primary !important

.interaction-border-orange
  &:hover
    border: 1px solid $color-primary !important

.interaction-border-turquoise
  &:hover
    border: 1px solid $color-primary !important

.interaction-border-dark
  &:hover
    border: 1px solid $color-primary !important

//Border colors
.border-blue
  border: 1px solid $color-scrollbar !important

.border-orange
  border: 1px solid $color-scrollbar !important

.border-turquoise
  border: 1px solid $color-scrollbar !important

.border-dark
  border: 1px solid $color-scrollbar !important