.wrapper
  display: flex
  align-items: stretch
  min-height: 100%

  .contactMenu
    min-width: 270px
    border-right: 1px solid #ECECEC
    background: #FCFCFE

  .mainContent
    flex-grow: 1

  .programList
    padding: 0 20px
    display: flex
    flex-direction: column
    align-items: flex-start

    .programItem
      margin-bottom: 10px
      display: flex
      align-items: center

      .programImage
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        padding: 10px
        min-width: 90px
        height: 90px
        text-align: center
        box-shadow: 0 1px 3px #DEDEDE
        margin-right: 15px
        p
          font-size: 10px
          line-height: 12px
          color: #49494B

      .programText
        margin-bottom:

        p
          font-size: 10px
          line-height: 14px
          color: #7B7B7B




