.optionBottomLine
  width: 100%
  height: 80px
  background: #FFFFFF
  z-index: 3
  display: flex
  align-items: flex-start
  justify-content: center
  box-sizing: border-box
  padding: 10px 0 0 0
  div
    display: flex
    justify-content: center
    align-items: center
    width: 140px
    height: 39px
    border-radius: 5px
    cursor: pointer
    font-size: 14px
  .cancel
    background: #e3e3e3
    border: 1px solid #e9e9e9
    color: grey
    margin: 0 10px 0 0
  .cancel:hover
    background: #fc7a7a
    color: white
  .buttonDisabled
    display: flex
    justify-content: center
    align-items: center
    text-align: center
    background: #e3e3e3
    border: 1px solid #e9e9e9
    color: grey
    cursor: default
    margin: 0 10px 0 0
  .edit
    display: flex
    justify-content: center
    align-items: center
    text-align: center
    background: #477DE1
    border: 1px solid #477DE1
    color: white
    margin: 0 10px 0 0
  .edit:hover
    background: #3b6dcb