.profileWrap
  display: flex
  align-items: center
  cursor: pointer
  font-family: "SF Pro Light", sans-serif
  .profileImg
    margin: 0 13px 0 0
    width: 42px
    height: 42px
    border-radius: 50%
  span
    font-size: 12px
    margin: 0 26px 0 0
    min-width: 55px
    text-overflow: ellipsis
  .arrowDown
    transform: rotateZ(45deg)
    border-bottom: 1px solid grey
    border-right: 1px solid grey
    width: 9px
    height: 9px
.profileWrap:hover span
  color: #477DE1
.profileWrap:hover .arrowDown
  border-bottom: 1px solid #477DE1
  border-right: 1px solid #477DE1
.mainMenuItems
  margin: 10px 0 20px 0
