.profileWrap
  display: flex
  align-items: center
  cursor: pointer
  .profileImg
    margin: 0 13px 0 0
  span
    font-size: 12px
    margin: 0 26px 0 0
  .arrowDown
    transform: rotateZ(45deg)
    border-bottom: 1px solid grey
    border-right: 1px solid grey
    width: 9px
    height: 9px
.profileWrap:hover span
  color: #477DE1
.profileWrap:hover .arrowDown
  border-bottom: 1px solid #477DE1
  border-right: 1px solid #477DE1
