.workSpace
  display: flex
  border-top: 1px solid #CFCFCF

.workSpacePreviewLine
  max-height: 700px

.filePreviewWrap
  display: flex
  align-items: center
  justify-content: center
  flex-grow: 1

.collapseHeader
  cursor: pointer
  padding: 20px
  display: flex
  align-items: center
  justify-content: space-between
  width: 245px
  .buttonsWrap
    display: flex
    align-items: center
    justify-content: space-between
.fileWrap
    border-bottom: 1px solid #CFCFCF

.search
  position: relative
  width: 284px

  .icon
    position: absolute
    width: 16px
    height: 16px
    top: calc(16px / 2)
    right: 17px

  .input
    font-size: 12px
    line-height: 15px
    font-family: inherit
    color: #AEAEAE

    width: 100%
    height: 32px
    background: #F7F7F7
    border-radius: 20px
    border: none
    padding: 0 25px

    &::placeholder
      font-size: 10px
      line-height: 12px
      font-family: inherit

.dateName
    font-size: 14px
    line-height: 17px
    color: #606060

.arrowFile
  width: 30px
  .playButton.revert
    transform: rotate(90deg)
    path
      fill: #4086F1
  .playButton
    transform: rotate(-90deg)

.collapseBtn
    margin: 0 12px
    display: block
    overflow: hidden
    white-space: nowrap
    text-overflow: ellipsis

    cursor: pointer
    width: 121px
    height: 32px
    border: none
    background: rgba(64, 134, 241, 0.1)
    border-radius: 16px
    padding: 0 10px
    font-family: inherit
    color: #666666
    font-size: 12px
    line-height: 16px
    box-shadow: 0 2px 4px #dedede
    transition: background-color 0.2s ease-in-out


.collapseContent
  padding: 0 20px

.fileDate
  border-top: 1px solid #CFCFCF
  padding: 18px 20px 14px 20px
  p
    margin: 0
    font-size: 14px
    line-height: 19px
    color: #606060
