/*.main 
    max-width: 1500px
    margin: 0 auto */
.storage 
    padding-top: 30px
    padding-bottom: 3.7em
    color: #000
    background-color: #fff
    text-align: center
.presentation 
    max-width: 1440px
    margin: 0 auto
    height: 100%
    overflow: hidden
    transition: height .3s ease, opacity ease .5s
.text_item 
    width: 40%
    position: relative
    align-self: flex-start
    margin-left: 7%
    margin-top: 6.9%
    opacity: .5
    transition: opacity .5s ease .2s 
    -webkit-transition: opacity .5s ease .2s
    -moz-transition: opacity .5s ease .2s
    -ms-transition: opacity .5s ease .2s
    -o-transition: opacity .5s ease .2s
.text_item::before 
    content: ""
    left: -30px
    bottom: 0
    width: 2px
    height: 0
    background-color: #fff
    position: absolute
    border-radius: 1px
    transition: height .7s ease
    -webkit-transition: height .7s ease
    -moz-transition: height .7s ease
    -ms-transition: height .7s ease
    -o-transition: height .7s ease
.text_item_active::before 
    height: 100%
    bottom: auto
    top: 0
.text_item_active 
    opacity: 1
.text_wrap 
    position: sticky
    top: 0
    width: 33%
    padding-left: 7%
    margin-top: 4%
    max-height: 45rem
    overflow: hidden
.presentation__images 
    width: 65%
.image_wrap
    width: 60%
    height: 670px
    position: relative
    overflow: hidden
.presentation__image
    position: absolute
    transition: transform 1s ease
    overflow: hidden
.image_wrap_active
    .presentation__image
        transform: translate(0%, -50%)
.image_1_1
    top: 35%
    right: 370px
    //z-index: 1
    transform: translate(-15%, -35%)
.image_1_2
    top: 69%
    right: 45px
    transform: translate(163%, 55%)
.image_1_3
    top: 23%
    right: 165px
    transform: translate(163%, 55%)
.image_2_1
    top: 50%
    right: 685px
    transform: translate(133%, 266%)
.image_2_2
    top: 50%
    right: 58px
    transform: translate(125%, 133%)
.image_3_1
    top: 45%
    right: 500px
    transform: translate(0, 0)
.image_3_2
    top: 60%
    right: 58px
    transform: translate(-60%, 67%)
.image_3_3
    top: 51%
    right: 24px
    transform: translate(125%, 133%)
.image_wrap 
    .image_4 
        top: 22%
        right: 39px
        transform: translate(0,0)
        z-index: 2
.image_4_youtube
    top: 17%
    right: 511px
    transform: translate(400%, 290%)   
.image_4_telegram
    top: 78%
    right: 481px
    z-index: 3
    transform: translate(1200%, 750%)
.image_4_google_calendar
    top: 13%
    right: 637px
    transform: translate(100%, 210%)
.image_4_google_drive
    top: 93%
    right: 400px
    transform: translate(320%, 670%)
.image_4_figma
    top: 90%
    right: 540px
    transform: translate(320%, 670%)
.image_4_viber
    top: 73%
    right: 653px
    transform: translate(215%, 580%)
.image_4_whatsapp
    top: 51%
    right: 622px
    z-index: 1
    transform: translate(150%, 210%)
.image_4_skype
    top: 30%
    right: 677px
    transform: translate(290%, 250%)
.presentation__title 
    font-size: 2rem
    font-family: "SF Pro Medium"
    margin-top: 0
.presentation__text 
    font-family: "SF Pro Light"
    margin-bottom: 1.5rem
.presentation__text:last-child
    margin-bottom: 0
.storage_title 
    font-size: 40px
    margin: .66em 0
    font-family: "SF Pro Medium"
.storage_subtitile 
    font-family: "SF Pro Medium"
    width: 28%
    margin: 0 auto 62px auto
    line-height: 1.5em
.tariffs_list 
    display: flex
    width: 80%
    max-width: 1100px
    margin: 0 auto
    justify-content: space-between
    align-items: flex-end
.slide
    display: flex
    justify-content: space-between
    height: 100%
.presentation_wrap 
    height: 100%
    transition: transform ease 1s

@media (max-width: 1300px) 
    .tariffs_list 
        width: 85%
@media (max-width: 1200px) 
    .tariffs_list 
        width: 90%
@media (max-width: 1100px) 
    .tariffs_list 
        width: 98%
@media (max-height: 1079px)
    .text_item 
        width: 45%
    .image_wrap
        width: 55%
    .image_1_1
        top: 31%
        right: 320px
        //z-index: 1
        transform: translate(-15%, -35%)
        max-width: 320px
    .image_1_2
        top: 60%
        right: 67px
        transform: translate(163%, 55%)
        max-width: 490px
    .image_1_3
        top: 21%
        right: 130px
        transform: translate(163%, 55%)
        max-width: 180px
    .image_2_1
        top: 40%
        right: 590px
    .image_2_2
        top: 40%
        width: 69%
    .image_3_1
        top: 37%
        transform: translate(0, -100px)
    .image_3_2
        top: 52%
        transform: translate(-60%, 200%)
    .image_3_3
        top: 40%
    .image_wrap 
        .image_4
            top: 14%
            max-width: 560px
    .image_4_youtube
        top: 9%
        right: 470px
        transform: translate(400%, 290%)   
    .image_4_telegram
        top: 66%
        right: 452px
        z-index: 3
        transform: translate(1200%, 750%)
    .image_4_google_calendar
        top: 6%
        right: 592px
        transform: translate(100%, 210%)
    .image_4_google_drive
        top: 80%
        right: 380px
        transform: translate(320%, 670%)
    .image_4_figma
        top: 77%
        right: 505px
        transform: translate(320%, 670%)
    .image_4_viber
        top: 66%
        right: 616px
        transform: translate(215%, 580%)
    .image_4_whatsapp
        top: 42%
        right: 582px
        z-index: 1
        transform: translate(150%, 210%)
    .image_4_skype
        top: 23%
        right: 650px
        transform: translate(290%, 250%)