@keyframes collapse_big
  0%
    width: calc(100% - 311px)
    min-width: calc(100% - 311px)
    max-width: calc(100% - 311px)
  100%
    min-width: calc(100% - 230px)
    max-width: calc(100% - 230px)
    width: calc(100% - 230px)

@keyframes collapse_sm
  0%
    width: calc(100% - 311px)
    min-width: calc(100% - 311px)
    max-width: calc(100% - 311px)
  100%
    min-width: calc(100% - 209px)
    max-width: calc(100% - 209px)
    width: calc(100% - 209px)    
    
@keyframes uncollapse
  0%
    min-width: calc(100% - 230px)
    max-width: calc(100% - 230px)
    width: calc(100% - 230px)
  100%
    width: calc(100% - 311px)
    min-width: calc(100% - 311px)
    max-width: calc(100% - 311px)

@keyframes uncollapse_sm
  0%
    min-width: calc(100% - 209px)
    max-width: calc(100% - 209px)
    width: calc(100% - 209px)
  100%
    width: calc(100% - 311px)
    min-width: calc(100% - 311px)
    max-width: calc(100% - 311px)    

// .workSpaceWrapUncollapsed_big
//   animation: uncollapse 0.3s ease-in-out

// .workSpaceWrapUncollapsed_medium
//   animation: uncollapse-sm 0.3s ease-in-out  
  
// .workSpaceWrapUncollapsed_small
//   animation: uncollapse_sm 0.3s ease-in-out

.workSpaceWrap
  width: calc(100% - 310px)
  max-width: calc(100% - 310px)
  overflow: hidden
  height: 100%
  .header
    display: flex
    align-items: center
    justify-content: space-between
    height: 90px
    border-bottom: 1px solid #e5e5e5
    box-sizing: border-box
    padding: 0 39px 0 17px
    .infoHeader
      display: flex
      justify-content: space-between
      align-items: center
      min-width: 340px
      width: 400px
      max-width: 400px


.workSpaceWrapCollapsed
  min-width: calc(100% - 209px)
  width: calc(100% - 209px)
  //animation: collapse_big 0.3s ease-in-out

.workSpaceWrap_big
  min-width: calc(100% - 230px)
  width: calc(100% - 230px)

.workSpaceWrap_medium
  min-width: calc(100% - 209px)
  width: calc(100% - 209px)

.workSpaceWrap_small
  min-width: calc(100% - 209px)
  width: calc(100% - 209px)


.fileActionWrap
  width: 66px
  height: 75px
  position: relative
.mainMenuItems
.additionalMenuItems
  margin: 10px 0 10px 0
@media (max-width: 1420px)
  .workSpaceWrap
    .header
      .infoHeader
        min-width: 300px
.file_list
  display: flex
  flex-direction: column
  height: calc(100% - 90px - 55px)
  overflow-x: hidden
  overflow-y: scroll