@import "src/theme/theme"
.editMeetingWrap
    width: 100%
    padding: 0 25px
.name
    text-align: center
    margin: 0 0 20px
.title
    color: $color-text-grey
    font-family: "SF Pro Regular", sans-serif
    font-size: 12px
    margin: 0
    .calendarIcon
        margin-right: 12px
.dateWrap
    display: flex
    align-items: center
    justify-content: space-between
    gap: 9px
    margin-bottom: 13px
.timeWrap
    display: flex
    align-items: center
    justify-content: space-between
    gap: 9px
    margin-bottom: 44px
    &> div
        height: 35px
        min-height: 35px
.dateName
    font-size: 12px
    font-family: "SF Pro Regular", sans-serif
    color: $color-text-grey
    margin: 10px 0 7px
.date
    height: 35px
    width: 100px
    border: 1px solid $color-border-dark
    text-align: center
    margin: 0 20px 0 0
    border-radius: 4px
.inputs_wrap_time
    display: flex
    align-items: center
    height: 35px
.time_count
    height: 35px
    width: 35px
    border: 1px solid $color-border-dark
    text-align: center
    border-radius: 4px
.dots
    margin: 0 5px
.open_calendar
    cursor: pointer
    font-size: 12px
    font-family: "SF Pro Regular", sans-serif
    color: $color-blue-smooth
    height: max-content
    align-self: flex-end
.typeItem
    padding: 10px
    cursor: pointer
