@keyframes show
  0%
    opacity: 0
  100%
    opacity: 1

.main
  display: flex
  flex-direction: column
  align-items: center
  color: #777777
  animation: show 0.3s linear
  .hubIcon
    min-width: 165px
    width: 166px
    max-width: 233px
    margin: 39px 0 108px 0
    cursor: pointer
  .forgotWrap
    width: 457px
    height: 284px
    background: white
    display: flex
    justify-content: flex-start
    align-items: center
    flex-direction: column
    border-radius: 5px
    position: relative
    .cross
      position: absolute
      top: 16px
      right: 7px
      width: 16px
      height: 2px
      background: #a7a4a4
      transform: rotate(45deg)
      cursor: pointer
    .cross:before
      content: ''
      position: absolute
      top: 0
      right: 0
      width: 16px
      height: 2px
      background: #a7a4a4
      transform: rotate(90deg)
    .title
      font-size: 18px
      margin: 25px 0 40px 0
    .info
      font-size: 11px
      letter-spacing: 0.3px
      line-height: 16px
      width: 92%
      margin: 0 0 25px 0
    .inputWrap
      display: flex
      flex-direction: column
      width: 91%
      position: relative
      .inputName
        font-size: 11px
        letter-spacing: 0.4px
        margin: 0 0 12px 0
        span
          color: red
      .inputField
        border: 1px solid #bfbfbf
        height: 29px
        border-radius: 5px
        background: #FAFAFA
        padding: 0 40px 0 18px
      .redBorder
        border: 1px solid red
    .marginWrap
      margin: 0 0 21px 0
    .button
      display: flex
      justify-content: center
      align-items: center
      background: #4086F1
      border-radius: 5px
      width: 127px
      height: 35px
      color: white
      font-size: 12px
      cursor: pointer
      transition: background 0.2s ease
    .button:hover
      background: #3979db
      transition: background 0.2s ease
@media (max-width: 1420px)
  .main
    .hubIcon
      margin: 39px 0 68px 0