@keyframes leftPlane
  0%
    opacity: 0
    top: 100%
    left: 50%
  100%
    opacity: 1
    top: 32px
    left: 2px

@keyframes rightPlane
  0%
    opacity: 0
    top: 100%
    right: 50%
  100%
    opacity: 1
    top: 4px
    right: 0

@keyframes envelopeRotate
  0%
    opacity: 0
    top: 75px
    width: 0
  100%
    opacity: 1
    top: 25px
    width: 110px
    transform: rotateZ(1440deg)

@keyframes showPopup
  0%
    width: 10px
    height: 10px
    background: white
    opacity: 0
  99%
    width: 521px
    height: 418px
    opacity: 0

.infoWrap
  display: flex
  flex-direction: column
  align-items: center
  justify-content: flex-start
  margin: 2.3vw 0 0 0
  height: max-content
  min-height: max-content
  .hubIcon
    width: 11.5vw
    margin-bottom: 3.7vw
    cursor: pointer
  .title
    font-size: 2.1vw
    letter-spacing: 0.6px
    margin: 0 0 3.3vw 0
  .infos
    display: flex
    flex-direction: column
    .info
      display: flex
      flex-direction: column
      align-items: center
      img
        margin: 0 0 2vw 0
      .backGroundInfos
        width: 82.5vw
        height: 690px
        background: white
        border-radius: 5px
        box-sizing: border-box
        padding: 2.9vw 6vw
        color: black
        display: flex
        flex-direction: column
        justify-content: flex-start
        align-items: center
        h2
          margin: 0 0 3.5vw 0
        span
          color: #bab8b8
          font-size: 0.9vw
          letter-spacing: 0.2px
          line-height: 1.7vw
          align-self: flex-start
          margin: 0 0 1.9vw 0
        span:nth-child(5)
          margin: 0 0 0 0
  .questions
    margin: 0 0 3vw 0
    font-size: 1.6vw
    font-family: "SF Pro Light", sans-serif
  .form
    display: flex
    flex-direction: column
    align-items: center
    div
      input
        margin: 0 1.5vw 1.3vw 0
        width: 29vw
        height: 3vw
        border: 1px solid white
        border-radius: 5px
        outline: none
        color: white
        background: none
        padding: 0 1vw
        box-sizing: border-box
        font-family: 'SF Pro Medium', sans-serif
      input:last-child
        margin: 0 0 1.3vw 0
      input::placeholder
        color: white
        font-family: 'SF Pro Medium', sans-serif
    textarea
      height: 175px
      width: 100%
      border: 1px solid white
      border-radius: 5px
      outline: none
      background: none
      padding: 1.5vw 1vw
      box-sizing: border-box
      color: white
      font-family: 'SF Pro Medium', sans-serif
    textarea::placeholder
      color: white
      font-family: 'SF Pro Medium', sans-serif
    .submitButton
      background: #335cb6
      font-size: 0.9vw
      letter-spacing: 0.4px
      padding: 0.9vw 5.5vw
      border-radius: 5px
      box-sizing: border-box
      cursor: pointer
      width: max-content
      margin: 2vw 0 3.7vw 0
    .submitButton:active
      background: #39B31E
      transition: background 0.2s ease
.sendSuccess
  width: 438px
  height: 390px
  display: flex
  justify-content: flex-start
  align-items: center
  flex-direction: column
  position: relative
  animation: showPopup 0.2s ease-in-out
  .cross
    position: absolute
    top: 16px
    right: 7px
    width: 16px
    height: 2px
    background: #a7a4a4
    transform: rotate(45deg)
    cursor: pointer
  .cross:before
    content: ''
    position: absolute
    top: 0
    right: 0
    width: 16px
    height: 2px
    background: #a7a4a4
    transform: rotate(90deg)
  .title
    font-size: 19px
    letter-spacing: 0.2px
    margin: 27px 0 18px 0
  .imageWrap
    position: relative
    display: flex
    justify-content: center
    margin: 20px 0 40px 0
    .envelope
      position: absolute
      top: 25px
      width: 110px
      animation: envelopeRotate 1s ease-in-out
    .planeLeft
      position: absolute
      top: 32px
      left: 2px
      animation: leftPlane 1s ease-in-out
    .planeRight
      position: absolute
      top: 4px
      right: 0
      animation: rightPlane 1s ease-in-out
  .closeButton
    background: #335cb6
    font-size: 13px
    letter-spacing: 0.4px
    padding: 12px 43px
    border-radius: 5px
    box-sizing: border-box
    cursor: pointer
    color: white
  .closeButton:active
    background: #39B31E
    transition: background 0.2s ease
