.main
  display: flex
  flex-direction: column
  align-items: center
  justify-content: flex-start
  margin: 2.3vw 0 0 0
  .hubIcon
    width: 11.5vw
    margin-bottom: 2.5vw
  .title
    font-size: 2.2vw
    margin: 0 0 2.1vw 0
  .description
    text-align: center
    font-size: 1vw
    width: 20.5vw
    line-height: 1.5vw
    margin: 0 0 3.4vw 0
  .siteOptionWrapper
    display: flex
    color: black
    margin: 0 0 3.5vw 0
    .siteOption
      display: flex
      flex-direction: column
      align-items: center
      width: 19.3vw
      height: 18.9vw
      min-height: max-content
      background: white
      margin: 0 1vw 0 1vw
      border-radius: 5px
      h3
        font-size: 0.9vw
        letter-spacing: 0.5px
        margin: 1.9vw 0
      span
        font-size: 0.75vw
        line-height: 1.3vw
        text-align: center
        width: 15vw
        margin: 0 0 2.8vw 0
      div
        color: white
        font-size: 0.9vw
        background: #4086F1
        padding: 0.9vw 6vw
        border-radius: 5px
        cursor: pointer
      div:hover
        color: black
        transition: color 0.2s ease-in
  .download:hover
    background: rgb(203, 219, 241)
    transition: background 0.2s ease-in
  .download
    display: flex
    justify-content: center
    align-items: center
    color: black
    padding: 0.8vw 4.2vw
    border-radius: 5px
    background: white
    cursor: pointer
    .downloadIcon
      margin: 0 0.9vw 0 0.5vw
    span
      font-size: 0.9vw
      letter-spacing: 0.6px
