@keyframes ticked
  0%
    width: 0
  100%
    width: 15px

@keyframes unTick
  0%
    width: 15px
  100%
    width: 0
@keyframes show
  0%
    opacity: 0
  100%
    opacity: 1

.main
  display: flex
  flex-direction: column
  align-items: center
  color: #777777
  animation: show 0.3s linear
  .hubIcon
    width: 11.5vw
    margin: 0 0 3vw 0
    margin-block-start: 0
    cursor: pointer
  .registerWrap
    width: 458px
    height: 575px
    background: white
    display: flex
    justify-content: flex-start
    align-items: center
    flex-direction: column
    border-radius: 5px
    position: relative
    .cross
      position: absolute
      top: 16px
      right: 7px
      width: 16px
      height: 2px
      background: #a7a4a4
      transform: rotate(45deg)
      cursor: pointer
    .cross:before
      content: ''
      position: absolute
      top: 0
      right: 0
      width: 16px
      height: 2px
      background: #a7a4a4
      transform: rotate(90deg)
    .title
      font-size: 1.3vw
      margin: 2vw 0 1.5vw 0
    .inputWrap
      display: flex
      flex-direction: column
      width: 91%
      position: relative
      margin: 0 0 1vw 0
      .inputName
        font-size: 0.8vw
        letter-spacing: 0.4px
        margin: 0 0 0.7vw 0
      .inputField
        border: 1px solid #bfbfbf
        height: 2vw
        border-radius: 5px
        background: #eaeaea
        padding: 0 3vw 0 1vw
      .eye
        position: absolute
        right: 12px
        top: 2.3vw
        cursor: pointer
      .invisible
        position: absolute
        right: 15px
        top: 2.1vw
        cursor: pointer
        width: 18px
    .agreementWrap
      display: flex
      justify-content: flex-start
      width: 92%
      font-size: 0.7vw
      .agreement
        display: flex
        justify-content: center
        align-items: center
        width: 8%
        label
          display: flex
          justify-content: center
          align-items: center
          width: 20px
          height: 20px
          border: 1px solid #c4c2c2
          border-radius: 5px
          cursor: pointer
          img
            width: 0
            animation: unTick 0.2s ease
            //animation-direction: reverse
        input:checked ~ label img
          width: 15px
          animation: ticked 0.2s ease
      .agreementsText
        width: 91%
        line-height: 1.2vw
        span
          color: #477DE1
          cursor: pointer
        span:hover
          color: #518bf3
    .button
      display: flex
      justify-content: center
      align-items: center
      background: #4086F1
      border-radius: 5px
      width: 127px
      height: 35px
      color: white
      font-size: 0.8vw
      cursor: pointer
      transition: background 0.2s ease
      margin: 1.6vw 0 0 0
    .button:hover
      background: #3979db
      transition: background 0.2s ease
    .orSpan
      margin: 1vw 0 0.7vw 0
    .socialNetworks
      display: flex
      width: 91%
      flex-wrap: wrap
      margin: 0 0 1.8vw 0
      div
        display: flex
        justify-content: center
        align-items: center
        background: black
        width: 32%
        height: 2.7vw
        margin: 0 0.5vw 0.5vw 0
        border-radius: 10px
        cursor: pointer
      div:nth-child(3n)
        margin-right: 0
      .facebook
        background: #3B5998
      .facebook:hover
        background: #36538f
      .twitter
        background: #76A9EA
      .twitter:hover
        background: #6b9ad6
      .google
        background: #DC4E41
      .google:hover
        background: #c8463b
      .linkedIn
        background: #007AB9
      .linkedIn:hover
        background: #0073ac
      .vk
        background: #4D76A1
      .vk:hover
        background: #43688f
      .pinterest
        background: #C92027
      .pinterest:hover
        background: #ba1d24
    .registration
      font-size: 0.8vw
      letter-spacing: 0.3px
      span
        color: #477DE1
        cursor: pointer
      span:hover
        color: #518bf3