.selectWrap.active
  border-radius: 5px 5px 0 0

.selectWrap
  width: 80px
  position: relative
  border-radius: 5px
  box-shadow: 0 0 8px #dedede

  .select
    cursor: pointer
    height: 30px

    .selectInput
      font-size: 14px
      line-height: 18px
      color: #000
      display: flex
      align-items: center
      padding-left: 12px
      height: 100%

  .arrow
    position: absolute
    top: calc(15px - 3px)
    right: 5px
    border-top: 6px solid #4086F1
    border-left: 5px solid transparent
    border-right: 5px solid transparent

  .contentWrap.active
    max-height: 300px

  .contentWrap
    position: absolute
    top: 30px
    overflow: hidden
    overflow-y: auto
    width: 100%
    max-height: 0
    background: #e4f4f7
    border-radius: 0 0 5px 5px
    box-shadow: 0 4px 10px #dedede

    &::-webkit-scrollbar-track
      background: #0A3AAB
    &::-webkit-scrollbar-track
      -webkit-box-shadow: none
      background-color: #F5F5F5
    &::-webkit-scrollbar
      width: 5px
      background-color: #FFFFFF
    &::-webkit-scrollbar-thumb
      background-color: #4086F1

    .content
      max-height: 100%
      padding: 0
      margin: 0

      .option.active
        background: #ffffff

      .option
        font-size: 12px
        font-weight: 500
        display: block
        width: 100%
        cursor: pointer
        padding: 5px 12px
        &:hover
          background: #ffffff