@import 'theme/theme'

.userListWrap
  display: flex
  flex-direction: column
  height: 180px
  max-height: 180px
  font-family: "SF Pro Regular", sans-serif
  font-size: 14px
  color: $color-text-grey
  overflow-x: hidden
  overflow-y: scroll
  gap: 10px
  .user
    display: flex
    align-items: center
    justify-content: space-between
    padding-left: 30px
    height: max-content
    position: relative
    .userInfo
      display: flex
      align-items: center
      gap: 10px
      .iconWrap
        width: 36px
        height: 36px
        background: $color-background-grey
        display: flex
        justify-content: center
        align-items: center
        border-radius: 50%
      .userName
        width: 140px
        max-width: 140px
        overflow: hidden
        white-space: nowrap
        text-overflow: ellipsis
    .buttons
      display: flex
      gap: 10px
      .copy
        display: flex
        align-items: center
        justify-content: space-between
        background: $color-background-blue-light
        font-size: 12px
        border-radius: 20px
        cursor: pointer
        padding: 8px 10px
      .date
        min-width: 220px
      .rights
        min-width: 130px
      .imageReverse
        margin-left: 10px
        width: 7px
        transform: rotate(-90deg)
    .cross
      position: absolute
      left: 3px
      width: 18px
      height: 2px
      background: $color-background-grey
      transform: rotate(45deg)
      cursor: pointer
      visibility: hidden
      &:before
        content: ''
        position: absolute
        top: 0
        right: 0
        width: 18px
        height: 2px
        background: $color-background-grey
        transform: rotate(90deg)
        visibility: hidden
    &:hover .cross
      visibility: visible
      &:before
        visibility: visible
    .userIcon
      width: 36px
      height: 36px
      border-radius: 50%
