.userListWrap
  display: flex
  flex-direction: column
  width: 95%
  height: 180px
  max-height: 180px
  font-family: "SF Pro Regular", sans-serif
  font-size: 14px
  color: #2B353E
  overflow-x: hidden
  overflow-y: scroll
  .user
    display: flex
    align-items: center
    justify-content: space-around
    width: 100%
    padding: 10px 0 10px 30px
    height: max-content
    position: relative
    .iconWrap
      width: 36px
      height: 36px
      background: #eeebeb
      display: flex
      justify-content: center
      align-items: center
      border-radius: 50%
    .userName
      margin: 0 45px 0 0
      width: 140px
      max-width: 140px
      overflow: hidden
      white-space: nowrap
      text-overflow: ellipsis
    .copy
      display: flex
      justify-content: center
      align-items: center
      background: #E6EDF8
      font-size: 11px
      border-radius: 20px
      cursor: pointer
      padding: 5px 10px
      img
        margin: 0 0 0 10px
        width: 6px
        transform: rotate(270deg)
        .imageReverse
          transform: rotateZ(90deg)
    .cross
      position: absolute
      left: 11px
      width: 18px
      height: 2px
      background: #a7a4a4
      transform: rotate(45deg)
      cursor: pointer
      visibility: hidden
      &:before
        content: ''
        position: absolute
        top: 0
        right: 0
        width: 18px
        height: 2px
        background: #a7a4a4
        transform: rotate(90deg)
        visibility: hidden
    &:hover .cross
      visibility: visible
      &:before
        visibility: visible

