@import "theme/colors"
$color-border-gold: #F3B505
$color-ico-grey: #D0CDCD

.answear
  border: 1px solid $color-border-gold
  box-shadow: 0px 0px 4px $color-shadow;
  border-radius: 2px
  height: 225px
  display: flex
  flex-direction: column
  .receiver
    display: flex
    align-items: center
    padding: 20px
    .icon
      cursor: pointer
      svg
        fill: $color-ico-grey
        &:hover
          fill: $color-primary
    .name
      font-size: 13px
      color: $color-text-grey
      margin-left: 10px
    .fullScreen
      margin-left: auto
  .text
    flex: 1 1 auto
  .bottomPanel
    display: flex
    justify-content: space-between
    background: $color-background-grey
    padding: 15px 20px