.searchWrap
  display: flex
  align-items: center
  min-width: 300px
  width: 365px
  height: 40px
  border: 1px solid #d0d0d0
  padding: 0 0 0 10px
  .select
    width: 155px
    box-shadow: none
    position: relative
    span
      color: #606060
      opacity: 0.7
    div:first-child
      background: none
    .SearchType
      font-size: 12px
      line-height: 14px
      height: 100%
      display: flex
      justify-content: flex-start
      align-items: center
      padding-left: 10px
  .select::before
    content: ''
    width: 1px
    height: 70%
    background: #DFDFDF
    position: absolute
    top: 50%
    transform: translateY(-50%)
  input
    border: none
    outline: none
    width: 83.5%
    height: 90%
    margin: 0 21px 0 0
    box-sizing: border-box
  input::placeholder
    font-family: "SF Pro Light", sans-serif
    font-size: 10px
    letter-spacing: 0.4px
    color: #c8c8c8
  img
    cursor: pointer
    margin-right: 9px
@media (max-width: 1420px)
  .searchWrap
    width: 350px
    min-width: 100px
    margin-right: 20px
    .select
      .SearchType
        font-size: 12px
        line-height: 14px
        display: block
        white-space: nowrap
        overflow: hidden
        text-overflow: ellipsis
        width: 60%
        height: 100%
        margin: 12px 10px
        padding-left: 0