@import "src/theme/theme"
.girdBoardWrap
  width: 100%
  min-height: calc(100% - 90px - 145px - 50px - 28px)
  height: calc(100% - 90px - 145px - 50px - 28px)

//SCHEMAS
.grid-bar
  display: grid
  grid-template-columns: repeat(6, 1fr)
  grid-template-rows: repeat(5, 1fr)
  .medium-item
    grid-column: 1 / 3
    grid-row: 1 / 4
    width: 95%
  .small-item-left
    grid-column: 1 / 2
    grid-row: 4 / 6
    width: 90%
  .small-item-right
    grid-column: 2 / 3
    grid-row: 4 / 6
    width: 90%
  .big-item
    grid-column: 3 / end
    grid-row: 1 / last-line
    height: 98%
    justify-self: center

.hidden
  display: none

.expanded-meetings-board
  .expanded-board
    width: 100%
    height: 100%

.expanded-calls-board
  .expanded-board
    width: 100%
    height: 100%

.expanded-mail-board
  .expanded-board
    width: 100%
    height: 100%

.expanded-tasks-board
  .expanded-board
    width: 100%
    height: 100%
