@import "src/theme/theme"

.panelWrap
  display: flex
  gap: 10px
  padding: 9px 20px
  width: 100%
  border-bottom: 1px solid $color-border-grey
  & > div
    height: auto
    position: relative
.addIcon
  width: 18px
  height: 18px
.text
  flex: 1
  text-align: center
.calendarIcon
  padding: 7px
  box-shadow: 0 2px 4px $color-shadow
  border: 1px solid $color-border-grey
  width: 32px
  height: 32px
  cursor: pointer
  &:hover
    border: 1px solid $color-primary
