.chatComponent
  overflow: hidden
  height: 100%
  display: flex
  .sideMenu
    display: flex
    flex-direction: column
    height: 100%
    border-right: 1px solid rgb(174, 174, 174)
    background-color: #fff
    .header
      display: flex
      align-items: center
      justify-content: space-between
      box-sizing: border-box
      padding: 0 15px
      width: 309px
      min-height: 68px
      .headerName
        display: flex
        align-items: center
        justify-content: space-between
        color: #49494B
        font-family: "SF Pro Bold", sans-serif
        font-size: 15px
      #headerIcon
        margin-right: 9px
      #headerIcon path
        fill: #4086F1
      #headerArrow path
        cursor: pointer
      #headerArrow:hover path
        fill: #4086F1
    .boardOptions
      display: flex
      align-items: center
      justify-content: space-around
      min-height: 68px
      border-bottom: 1px solid #DFDFDF
      border-top: 1px solid #DFDFDF
      .option
        cursor: pointer
        path
          fill: rgb(186, 186, 186)
          transition: fill 0.2s ease-in-out
      .selected path
        fill: rgb(64, 134, 241)
        transition: fill 0.2s ease-in-out
        cursor: pointer
    .searchField
      display: flex
      align-items: center
      justify-content: center
      min-height: 60px
      position: relative
      border-bottom: 1px solid #DFDFDF
      input
        width: 284px
        height: 41px
        border-radius: 30px
        padding: 0 40px 0 15px
        box-sizing: border-box
        background: rgb(247, 247, 247)
        border: none
        font-family: "SF Pro Regular", sans-serif
        font-size: 12px
      input::placeholder
        color: rgb(174, 174, 174)
      .searchGlass
        position: absolute
        top: calc(50% - 10px)
        right: 25px
        cursor: pointer
    .list
      overflow-x: hidden
      overflow-y: scroll
      scrollbar-width: thin
      scrollbar-color: #4086F1 #F5F5F5
      &::-webkit-scrollbar-track
        background: #0A3AAB
      &::-webkit-scrollbar-track
        -webkit-box-shadow: none
        background-color: #F5F5F5
      &::-webkit-scrollbar
        height: 0
        width: 3px
        background-color: #FFFFFF
      &::-webkit-scrollbar-thumb
        background-color: #4086F1
  .sideMenuCollapsed
    width: 100px
    .header
      width: 100px
    #headerArrow
      transform: rotate(180deg)
    .boardOptions
      .option:not(.selected)
        display: none