@import "src/theme/theme"
@keyframes showText
  0%
    width: 0
  100%
    width: max-content

.listItemWrap.active
  background: $color-blue-opacity
.listItemWrap
  transition: background 0.2s ease-in-out
  border-bottom: 1px solid $color-grey-secondary
  &:hover
    background: $color-blue-opacity
    transition: background 0.2s ease-in-out
  .listItem
    display: flex
    align-items: center
    gap: 0 10px
    padding: 21px 2px 14px 26px
    cursor: pointer
    .innerIcon
      width: 18px
      height: 18px
    .name
      margin: 0 0 3px 0
      flex: 1 0
      color: $color-grey_dark
      font-size: 13px
      font-family: 'SF Pro Light', sans-serif
      display: block
      width: max-content
      overflow: hidden
      white-space: nowrap
      text-overflow: ellipsis
      animation: showText 0.2s ease-in-out
    .amount
      display: flex
      color: $color-grey_dark
      font-family: 'SF Pro Light', sans-serif
      font-size: 14px
    .dots
      display: flex
      width: 20px
      height: 20px
      justify-content: center
      align-items: center
      cursor: pointer
      &:hover span
        background: $color-primary
      span
        position: relative
        width: 3px
        height: 3px
        background: $color-gray-light
        transition: background 0.2s ease
        &::after, &::before
          content: ''
          position: absolute
          width: 3px
          height: 3px
          background: inherit
        &::after
          top: 7.5px
        &::before
          top: -7.5px
