@import 'src/theme/theme'

.FilesList
  display: flex
  flex-direction: column
  width: 100%
  height: 100%
  overflow-y: auto
  overflow-x: hidden
  box-sizing: border-box
  padding: 0 0 30px 0
  position: relative
  .bottomLine
    box-sizing: border-box
    padding: 50px 0 0 0
    grid-column: 1 / -1
    width: 100%
    position: relative
  .bottomLineHidden
    width: 0
    transition: height 1s ease-in-out, width 1s ease-in-out
.shared_files
  height: 100%
.addButtonBlock
  margin-left: 10px
  display: flex
  align-items: center
  .textAddIcon
    width: 375px
    height: 142px
  .textAddIconMedium
    width: 310px
    height: 121px
  .textAddIconSmall
    width: 255px
    height: 100px
