.innerFolderWrap.active
  background: rgba(64, 134, 241, 0.1)
.innerFolderWrap
  display: flex
  flex-direction: column
  width: 100%
  transition: background 0.2s ease-in-out
  border-bottom: 1px solid #CFCFCF
  &:hover
    background: rgba(64, 134, 241, 0.1)
    transition: background 0.2s ease-in-out

.innerFolderWrap
  height: 50px

.innerFolder
  height: 100%
  padding: 0 10px 0 26px
  display: flex
  align-items: center
  justify-content: space-between
  box-sizing: border-box
  font-size: 12px
  cursor: pointer

  .badge
    width: 17px
    height: 17px
    border-radius: 50%
    background: #D72419
    margin-right: 5px

    display: flex
    justify-content: center
    align-items: center
    color: #ffffff

  .innerFolderName
    display: flex
    align-items: center
    position: relative
    height: 100%
    .innerFolderIcon
      margin: 0 10px 0 0
    .lock
      position: absolute
      top: 23px
      left: -9px
      width: 15px
    .nameWrap
      display: flex
      flex-direction: column
      justify-content: center
      .name
        font-size: 13px
        color: #7c7a7a
        font-family: 'SF Pro Light', sans-serif
        display: block
        width: max-content
        overflow: hidden
        white-space: nowrap
        text-overflow: ellipsis
        animation: showText 0.2s ease-in-out
      .tag
        display: block
        font-size: 10px
        box-sizing: border-box
        padding: 1px 5px
        background: rgb(0, 125, 255)
        color: #FFFFFF
        border-radius: 10px
        width: max-content
        max-width: 100px
        overflow: hidden
        white-space: nowrap
        text-overflow: ellipsis
        animation: showText 0.2s ease-in-out
  .innerFolderMedia
    display: flex
    .innerFolderIcon
      margin: 0 5px 0 0
      width: 18px
      height: 18px
    .playButton
      transform: rotateZ(-90deg)
      cursor: pointer
      margin: 0 10px 0 10px
      width: 8px
    .playButton:hover path
      fill: #477DE1
      transition: fill 0.2s ease
    .playButton path
      transition: fill 0.2s ease
    .revert
      transform: rotateZ(90deg)


.wrapper_small
  height: 36px
  .innerFolderName
    .innerFolderIcon
      width: 14px
    .name
      font-size: 12px
      line-height: 15px
  .innerFolderMedia
    display: flex
    .innerFolderIcon
      width: 15px
      height: 15px


.wrapper_big
  height: 80px
  .innerFolderName
    .innerFolderIcon
      width: 24px
    .name
      font-size: 14px
      line-height: 17px
  .innerFolderMedia
    display: flex
    .innerFolderIcon
      width: 18px
      height: 18px
  .symbols
    width: 24px
    height: 24px
  .badge
    width: 26px
    height: 26px
    font-size: 18px
    line-height: 22px


.active
  background: rgba(71, 125, 225, 0.1)
.menuWrap
  display: flex
  width: 20px
  height: 20px
  justify-content: center
  align-items: center
  cursor: pointer
  .menu
    position: relative
    width: 3px
    height: 3px
    background: #c1c0c0
    transition: background 0.2s ease
  .menu::before, .menu::after
    content: ''
    position: absolute
    width: 3px
    height: 3px
    background: #c1c0c0
    transition: background 0.2s ease
  .menu::before
    transform: translateY(8px)
  .menu::after
    transform: translateY(-8px)
.menuWrap:hover .menu, .menuWrap:hover .menu::before, .menuWrap:hover .menu::after
  background: #477DE1
  transition: background 0.2s ease
.hidden
  position: relative
  z-index: -200
  opacity: 0
  height: 0
  min-height: 0
  width: 0
  transition: height 0.2s ease-in-out, width 0.2s ease-in-out, opacity 0.2s ease-in-out
