.storageWrap
  display: flex
  img
    margin: 0 10px 0 0
  .storageInfo
    display: flex
    flex-direction: column
    font-family: "SF Pro Light", sans-serif
    .fullSize
      position: relative
      width: 115px
      height: 3px
      background: #c8c8c8
      margin: 0 0 5px 0
      .realSize
        position: absolute
        left: 0
        height: 3px
        background: #39B31E
    .info
      font-size: 10px
