.contentWrap
  top: 100%
.reverseWrap
  bottom: 100%
.contentSideWrap
  left: 0
.reverseSideWrap
  right: 0
.wrapper
  box-sizing: border-box
  background: #ffffff
  position: absolute
  min-width: 279px
  border-radius: 10px

  .content
    padding: 0 12px 15px 12px
    border-radius: 10px
    box-shadow: 0 1px 3px #DEDEDE

  .flexBlock
    display: flex

  .leftBlock
    display: flex
    flex-direction: column
    justify-content: space-between
    padding: 14px 0
    margin-right: 16px
    .topIcons
      display: flex
      align-items: center
    .circle
      margin-left: 6px
      width: 20px
      height: 20px
      border-radius: 50%
    .avatar
      margin-left: 19px
      width: 20px
      height: 20px
      border-radius: 50%

  .rightBlock
    flex-grow: 1
    display: flex
    align-items: flex-start
    justify-content: space-between
    padding-bottom: 20px

    .timeBlock
      margin: 9px 0 0 0
      font-size: 10px
      line-height: 16px
      color: #49494B

    .infoBlock
      display: flex
      flex-direction: column
    .infoItem
      margin-top: 10px

      .option
        margin: 0
        font-size: 10px
        line-height: 16px
        color: #BABABA
      .value
        margin: 0
        font-size: 12px
        line-height: 16px
        color: #49494B

  .actionBlock
    display: flex
    justify-content: center
    align-items: center
    .actionBtn
      font-size: 12px
      line-height: 16px
      color: #ffffff
      background: #4086F1
      border-radius: 3px
      padding: 7px 22px 5px 13px



