.itemWrap:hover
  background: rgba(64, 134, 241, .1)
.itemWrap
  display: flex
  cursor: default
  justify-content: flex-start
  align-items: center
  font-size: 12px
  font-family: "SF Pro Light", sans-serif
  padding: 10px
  img
    margin: 0 15px 0 15px
    width: 16px
  .text
    display: block
    white-space: nowrap
    text-overflow: ellipsis
    overflow: hidden
