.itemWrap:hover
  background: rgba(64, 134, 241, .1)
.itemWrap
  display: flex
  cursor: default
  justify-content: flex-start
  align-items: center
  font-size: 12px
  font-family: "SF Pro Light", sans-serif
  img
    margin: 0 10% 0 10%
    width: 16px