@import "theme/theme"

@mixin review
  width: 141px
  height: 30px
  display: flex
  justify-content: center
  align-items: center
  box-sizing: border-box
  background: $color-background-blue-light
  font-size: 11px
  border-radius: 20px
  cursor: pointer
  position: relative
  img
    margin: 0 0 0 10px
    width: 6px
    transform: rotate(270deg)
  .imageReverse
    transform: rotateZ(90deg)

@mixin reviewOptions
  position: absolute
  top: 45px
  right: 0
  width: 392px
  height: 139px
  border-radius: 5px
  box-shadow: 0 0 2px $color-shadow
  box-sizing: border-box
  padding: 10px
  font-family: "SF Pro Regular", sans-serif
  font-size: 14px
  z-index: 5
  background: $color-white
  &:before
    content: ''
    position: absolute
    top: -16px
    right: 10px
    border: 8px solid transparent
    border-bottom: 8px solid white
  .reviewOption
    display: flex
    align-items: center
    margin: 15px
    .radio
      width: 16px
      height: 16px
      border-radius: 50%
      border: 1px solid grey
      margin: 0 10px 0 0
    .radioChosen
      width: 16px
      height: 16px
      border-radius: 50%
      border: 1px solid $color-blue-smooth
      background: $color-blue-smooth
  .reviewOptionLast
    margin-bottom: 5px
  .descr
    margin: 0 0 0 40px
    font-size: 11px
    color: grey

.review
  @include review
.chosen
  background: $color-white
.reviewOptions
  @include reviewOptions
.iconWrap
  width: 30px
  height: 30px
  display: flex
  justify-content: center
  align-items: center
  box-sizing: border-box
  font-size: 11px
  cursor: pointer
  position: relative
  .shownUsers
    position: absolute
    z-index: 1
  .hiddenUsers
    display: none
.endTime
  font-size: 13px
  color: $color-text-grey
  font-family: "SF Pro Regular", sans-serif
