.main
  display: flex
  flex-direction: column
  align-items: center
  .hubIcon
    width: 168px
    margin: 22px 0 41px 0
    cursor: pointer
  .downloadWrapFile
    display: flex
    justify-content: flex-start
    flex-direction: column
    align-items: center
    background: white
    width: 264px
    height: 264px
    border-radius: 21px
    position: relative
    cursor: default
    margin: 0 0 32px 0
    .cross
      position: absolute
      top: 20px
      right: 15px
      width: 16px
      height: 2px
      background: #a7a4a4
      transform: rotate(45deg)
      cursor: pointer
    .cross:before
      content: ''
      position: absolute
      top: 0
      right: 0
      width: 16px
      height: 2px
      background: #a7a4a4
      transform: rotate(90deg)
    .folder
      width: 100px
      height: 100px
      margin: 50px 0 20px 0
      & path
        fill: rgb(34, 83, 158)
      & polygon
        fill: rgb(64, 134, 241)
    .fileName
      color: black
      width: 80%
      overflow: hidden
      white-space: nowrap
      text-overflow: ellipsis
      text-align: center
      margin: 0 0 22px 0
    .fileSize
      font-size: 10px
      color: #a7a4a4
      width: 80%
      text-align: center
  .download
    cursor: pointer
    margin: 0 0 15px 0
    transition: fill 0.2s ease
  .download:hover path
    fill: #aff8b0
    transition: fill 0.2s ease
  .download:active path
    fill: #afccf8
    transition: fill 0.2s ease
  h2
    font-size: 22px
    font-family: "SF Pro Light", sans-serif
    letter-spacing: 0.5px
    margin-bottom: 30px
  .passwordWrap
    position: relative
    margin: 0 0 30px 0
    .password
      width: 345px
      height: 37px
      text-align: center
      outline: none
      color: #335cb6
      font-family: 'SF Pro Medium', sans-serif
    .password::placeholder
      text-align: center
      color: #335cb6
      font-family: 'SF Pro Medium', sans-serif
    .eye
      position: absolute
      right: 13px
      top: 12px
      cursor: pointer
      width: 18px
    .invisible
      position: absolute
      right: 13px
      top: 12px
      cursor: pointer
      width: 18px
  .term
    font-size: 14px
    font-family: "SF Pro Light", sans-serif
    margin: 0 0 30px 0
  .guestButton
    font-size: 12px
    font-family: "SF Pro Regular", sans-serif
    background: rgb(57, 139, 30)
    box-sizing: border-box
    padding: 10px
    border-radius: 5px
    cursor: pointer
    transition: background 0.2s ease-in-out
    &:hover
      background: rgb(46, 111, 24)
      transition: background 0.2s ease-in-out
@media (max-width: 1420px)
  .main
    .hubIcon
      width: 138px
      margin: 0 0 20px 0
      cursor: pointer
    .downloadWrapFile
      width: 224px
      height: 224px
      margin: 0 0 10px 0
      .fileName
        font-size: 13px
        margin: 0 0 15px 0
    .download
      width: 55px
      margin: 0
    h2
      font-size: 18px
      margin-bottom: 15px
      margin-block-start: 0
    .passwordWrap
      margin: 0 0 15px 0