.item
    display: flex
    align-items: center
    justify-content: space-between
    box-sizing: border-box
    padding: 15px 20px
    border-bottom: 1px solid #DFDFDF
    width: 100%
    &:hover, &.active
        background-color: #EBF1FD
    &.disableHover:hover
        background: #fff
    .groupName
        display: flex
    .avatar
        width: 30px
        height: 30px
        border-radius: 50%
        margin: 0 10px 0 0
    .info
        display: flex
        flex-direction: column
        justify-content: center
        align-items: flex-start
        .title
            font-size: 16px
            color: rgb(73, 73, 73)
        .subtitle
            font-size: 11px
            color: rgb(133, 133, 133)
    .radioContact
        width: 18px
        height: 18px
        border: 1px solid #B8B8B8
        border-radius: 50%
        margin: 0 10px 0 0
    .radioContactChosen
        border: 1px solid rgb(64, 134, 241)
        border-radius: 50%
        background: rgb(64, 134, 241)
    .menuWrap
        display: flex
        width: 20px
        height: 20px
        justify-content: center
        align-items: center
        cursor: pointer
    .menu
        position: relative
        width: 3px
        height: 3px
        background: #c1c0c0
        transition: background 0.2s ease
    .menu::before, .menu::after
        content: ''
        position: absolute
        width: 3px
        height: 3px
        background: #c1c0c0
        transition: background 0.2s ease
    .menu::before
        transform: translateY(8px)
    .menu::after
        transform: translateY(-8px)
    .menuWrap:hover .menu, .menuWrap:hover .menu::before, .menuWrap:hover .menu::after
        background: #477DE1
        transition: background 0.2s ease
    &.sublist
        padding-left: 40px
        border: none
        &.sideMenuCollapsed
            padding-left: 25px
            padding-right: 10px
@media (max-width: 1440px)
    .item
        .info
            .title
                font-size: 14px
            .subtitle
                font-size: 10px
