.innerFolderWrap.active
  background: rgba(64, 134, 241, 0.1)
.innerFolderWrap
  display: flex
  flex-direction: column
  width: 100%
  transition: background 0.2s ease-in-out
  &:hover
    background: rgba(64, 134, 241, 0.1)
    transition: background 0.2s ease-in-out

.innerFolder
  display: flex
  align-items: center
  justify-content: space-between
  box-sizing: border-box
  width: 100%
  padding: 21px 11px 14px 26px
  font-size: 12px
  cursor: pointer
  .innerFolderName
    display: flex
    align-items: center
    position: relative
    height: 100%
    .innerFolderIcon
      margin: 0 10px 0 0
    .lock
      position: absolute
      top: 23px
      left: -9px
      width: 15px
    .nameWrap
      display: flex
      flex-direction: column
      justify-content: center
      .Name
        display: flex
        font-size: 13px
        margin: 0 0 3px 0
        color: #7c7a7a
        .name
          font-family: 'SF Pro Light', sans-serif
          display: block
          width: max-content
          overflow: hidden
          white-space: nowrap
          text-overflow: ellipsis
          animation: showText 0.2s ease-in-out
        span
          max-width: 15px
          animation: showText 0.2s ease-in-out
      .tag
        display: block
        font-size: 10px
        box-sizing: border-box
        padding: 1px 5px
        background: rgb(0, 125, 255)
        color: #FFFFFF
        border-radius: 10px
        width: max-content
        max-width: 100px
        overflow: hidden
        white-space: nowrap
        text-overflow: ellipsis
        animation: showText 0.2s ease-in-out
  .innerFolderMedia
    display: flex
    color: #7c7a7a
    font-family: 'SF Pro Light', sans-serif
    font-size: 14px

    img
      margin: 0 5px 0 0
      width: 18px
      height: 18px
    .playButton
      transform: rotateZ(-90deg)
      cursor: pointer
      margin: 0 10px 0 10px
      width: 8px
    .playButton:hover path
      fill: #477DE1
      transition: fill 0.2s ease
    .playButton path
      transition: fill 0.2s ease
    .revert
      transform: rotateZ(90deg)


.innerFolder_small
  .innerFolderName
    .innerFolderIcon
      width: 25px
      height: 25px
    .nameWrap
      .Name
        display: flex
        flex-direction: column
        .tag
          display: block
          font-size: 10px
          box-sizing: border-box
          padding: 1px 5px
          background: rgb(0, 125, 255)
          color: #FFFFFF
          border-radius: 10px
          width: max-content
          max-width: 100px
          overflow: hidden
          white-space: nowrap
          text-overflow: ellipsis
          animation: showText 0.2s ease-in-out

.innerFolder_medium
  .innerFolderName
    .innerFolderIcon
      width: 30px
      height: 30px
    .nameWrap
      .Name
        display: flex
        flex-direction: column
        font-size: 14px
        .tag
          font-size: 11px

.innerFolder_big
  .innerFolderName
    .innerFolderIcon
      width: 42px
      height: 42px
    .nameWrap
      .Name
        display: flex
        flex-direction: column
        font-size: 15px
        .name
          max-width: 150px
        .tag
          font-size: 11px

.active
  background: rgba(71, 125, 225, 0.1)
.menuWrap
  display: flex
  width: 20px
  height: 20px
  justify-content: center
  align-items: center
  cursor: pointer
  .menu
    position: relative
    width: 3px
    height: 3px
    background: #c1c0c0
    transition: background 0.2s ease
  .menu::before, .menu::after
    content: ''
    position: absolute
    width: 3px
    height: 3px
    background: #c1c0c0
    transition: background 0.2s ease
  .menu::before
    transform: translateY(8px)
  .menu::after
    transform: translateY(-8px)
.menuWrap:hover .menu, .menuWrap:hover .menu::before, .menuWrap:hover .menu::after
  background: #477DE1
  transition: background 0.2s ease
.hidden
  position: relative
  z-index: -200
  opacity: 0
  height: 0
  min-height: 0
  width: 0
  transition: height 0.2s ease-in-out, width 0.2s ease-in-out, opacity 0.2s ease-in-out
