.newCommentWrap
  display: flex
  flex-direction: column
  align-items: center
  background: #FFFFFF
  width: 458px
  height: 327px
  border-radius: 5px
  position: relative
  font-family: "SF Pro Regular", sans-serif
  color: #2B353E
  .cross
    position: absolute
    top: 20px
    right: 11px
    width: 18px
    height: 2px
    background: #a7a4a4
    transform: rotate(45deg)
    cursor: pointer
    &:before
      content: ''
      position: absolute
      top: 0
      right: 0
      width: 18px
      height: 2px
      background: #a7a4a4
      transform: rotate(90deg)
  .buttonsWrap
    display: flex
    width: 290px
    justify-content: space-between
    margin-bottom: 20px
    div
      display: flex
      justify-content: center
      align-items: center
      width: 140px
      height: 39px
      border-radius: 5px
      cursor: pointer
      font-size: 14px
    .cancel
      background: #e3e3e3
      border: 1px solid #e9e9e9
      color: grey
    .cancel:hover
      background: #fc7a7a
      color: white
    .add
      background: #477DE1
      border: 1px solid #477DE1
      color: white
    .add:hover
      background: #3b6dcb
    .inactive
      background: #91abdb
      cursor: default
      &:hover
        background: #91abdb
  .title
    font-size: 18px
    margin: 30px 0 20px 0
  .imageIcon
    width: 40px
    height: 40px
    margin: 0 0 20px 0
  .programName
    font-size: 14px
    margin: 0 0 10px 0
  textarea
    width: 90%
    height: 110px
    resize: none
    margin: 0 0 20px 0
    box-sizing: border-box
    padding: 11px 17px
    font-size: 11px
    font-family: "SF Pro Regular", sans-serif