.newCommentWrap
  display: flex
  background: #FFFFFF
  width: 458px
  height: 327px
  border-radius: 5px
  position: relative
  .cross
    position: absolute
    top: 20px
    right: 11px
    width: 18px
    height: 2px
    background: #a7a4a4
    transform: rotate(45deg)
    cursor: pointer
    &:before
      content: ''
      position: absolute
      top: 0
      right: 0
      width: 18px
      height: 2px
      background: #a7a4a4
      transform: rotate(90deg)