.workSpaceWrap
  width: 100%
  overflow: hidden
  transition: width 0.3s ease-in-out, min-width 0.3s ease-in-out
  background-color: #fff
  display: flex
  flex-direction: column
  height: 100vh
  .header
    display: flex
    align-items: center
    justify-content: space-between
    border-bottom: 1px solid #e5e5e5
    box-sizing: border-box
    padding: 25px 20px
    border-color: #DFDFDF
    background: inherit
    .infoHeader
      display: flex
      justify-content: space-between
      align-items: center
      min-width: 340px
      width: 400px
      max-width: 400px
      background: inherit
.workSpaceWrapShort
  max-width: calc(100% - 311px)
  width: calc(100% - 311px)
.workSpaceWrapCollapsed
  min-width: calc(100% - 121px)
  width: calc(100% - 121px)
  transition: width 0.3s ease-in-out, min-width 1s ease-in-out
.fileActionWrap
  width: 66px
  height: 75px
  position: relative
@media (max-width: 1420px)
  .workSpaceWrap
    .header
      .infoHeader
        min-width: 300px
