
.wrapper
  padding: 26px 0
  display: flex
  justify-content: center
  //position: relative

  .printWrapper
    display: flex
    flex-direction: column
    position: absolute
    top: 140px
    right: 28px

    .printBtn
      display: flex
      align-items: center
      justify-content: center
      margin-bottom: 10px
      width: 41px
      height: 24px
      background: #FFFFFF
      box-shadow: 0 2px 4px #DEDEDE
      border-radius: 2.25px

      &:last-child
        margin-bottom: 0

      &:hover svg
        path, rect
          fill: #4086F1
      

  .content
    width: 680px
    max-width: 680px
    padding: 27px 45px
    background: #FFFFFF
    box-shadow: 0 1px 4px rgba(166, 166, 166, 0.5)
    border-radius: 3px

  .header
    display: flex
    justify-content: space-between
    align-items: center

    .logoImg
      width: 90px

  .title
    text-align: center
    margin: 13px 0 28px 0
    font-weight: 500
    font-size: 19px
    line-height: 23px
    letter-spacing: -0.0394469px
    color: #49494B

  .text
    font-weight: normal
    font-size: 11px
    line-height: 22px
    letter-spacing: -0.0507504px
    color: #595959
