@keyframes collapse
  0%
    width: calc(100% - 311px)
    min-width: calc(100% - 311px)
    max-width: calc(100% - 311px)
  100%
    min-width: calc(100% - 121px)
    max-width: calc(100% - 121px)
    width: calc(100% - 121px)
@keyframes uncollapse
  0%
    min-width: calc(100% - 121px)
    max-width: calc(100% - 121px)
    width: calc(100% - 121px)
  100%
    width: calc(100% - 311px)
    min-width: calc(100% - 311px)
    max-width: calc(100% - 311px)

.workSpaceWrapUncollapsed
  animation: uncollapse 0.3s ease-in-out
.workSpaceWrap
  width: calc(100% - 310px)
  max-width: calc(100% - 310px)
  overflow: hidden
  height: 100%
  background-color: #fff
  .header
    display: flex
    align-items: center
    justify-content: space-between
    height: 90px
    border-bottom: 1px solid #e5e5e5
    box-sizing: border-box
    padding: 0 39px 0 17px
    border-color: #DFDFDF
    background: inherit
    .infoHeader
      display: flex
      justify-content: space-between
      align-items: center
      min-width: 340px
      width: 400px
      max-width: 400px
      background: inherit
.workSpaceWrapCollapsed
  min-width: calc(100% - 121px)
  width: calc(100% - 121px)
  animation: collapse 0.3s ease-in-out
.fileActionWrap
  width: 66px
  height: 75px
  position: relative
.mainMenuItems
.additionalMenuItems
  margin: 10px 0 10px 0
@media (max-width: 1420px)
  .workSpaceWrap
    .header
      .infoHeader
        min-width: 300px

.previewFileWrap
  display: flex
  flex-direction: column
  align-items: center
  flex-grow: 1
  height: 100%
  font-size: 12px
  scrollbar-width: thin
  scrollbar-color: #4086F1 #F5F5F5
  &::-webkit-scrollbar-track
    background: #0A3AAB
  &::-webkit-scrollbar-track
    -webkit-box-shadow: none
    background-color: #F5F5F5
  &::-webkit-scrollbar
    width: 7px
    background-color: #FFFFFF
  &::-webkit-scrollbar-thumb
    background-color: #4086F1
  .preview
    display: flex
    justify-content: center
    align-items: center
    width: 100%
    overflow: hidden
    margin-bottom: 35px
    .content
      text-align: center
      img
        width: 40px
  .infoFileItem
    display: flex
    align-items: flex-start
    justify-content: flex-start
    width: 100%
    margin: 0 0 10px 0
    .itemName
      color: #818081
      display: flex
      justify-content: flex-end
      width: 48%
      margin: 0 20px 0 0
      font-family: "SF Pro Light", sans-serif
    .address
      max-width: 40%
      color: #666
      font-family: "SF Pro Light", sans-serif
    .description
      color: #666
      max-width: 40%
      overflow: hidden
      white-space: nowrap
      text-overflow: ellipsis
      font-family: "SF Pro Light", sans-serif
  .disableBtn
    display: flex
    justify-content: center
    align-items: center
    box-shadow: 0 2px 4px #dedede
    border-radius: 3px
    width: 100px
    height: 24px
    color: #606060
    font-size: 12px
    cursor: pointer
    transition: background 0.2s ease-in-out, color 0.2s ease-in-out
    margin-top: 10px
  .disableBtn:hover
    background: #4086F1
    color: white

.contentWrapper
  height: calc(100% - 55px - 90px)
  display: flex

  .previewWrapper
    display: flex
    align-items: center
    justify-content: center
    height: 100%
    border-right: 1px solid #DFDFDF
    flex-grow: 1
    padding: 20px
    img
      max-width: 100%
      width: 400px
      max-height: 400px

  .optionsWrapper
    padding: 65px 20px 30px 20px
    max-width: 300px
    min-width: 300px
    width: 300px
