@keyframes collapse
  0%
    width: calc(100% - 311px)
    min-width: calc(100% - 311px)
    max-width: calc(100% - 311px)
  100%
    min-width: calc(100% - 121px)
    max-width: calc(100% - 121px)
    width: calc(100% - 121px)
@keyframes uncollapse
  0%
    min-width: calc(100% - 121px)
    max-width: calc(100% - 121px)
    width: calc(100% - 121px)
  100%
    width: calc(100% - 311px)
    min-width: calc(100% - 311px)
    max-width: calc(100% - 311px)

.workSpaceWrapUncollapsed
  animation: uncollapse 0.3s ease-in-out
.workSpaceWrap
  width: calc(100% - 310px)
  max-width: calc(100% - 310px)
  overflow: hidden
  height: 100%
  .header
    display: flex
    align-items: center
    justify-content: space-between
    height: 90px
    border-bottom: 1px solid #e5e5e5
    box-sizing: border-box
    padding: 0 39px 0 17px
    .infoHeader
      display: flex
      justify-content: space-between
      align-items: center
      min-width: 340px
      width: 400px
      max-width: 400px
.workSpaceWrapCollapsed
  min-width: calc(100% - 121px)
  width: calc(100% - 121px)
  animation: collapse 0.3s ease-in-out
.fileActionWrap
  width: 66px
  height: 75px
  position: relative
.mainMenuItems
.additionalMenuItems
  margin: 10px 0 10px 0
@media (max-width: 1420px)
  .workSpaceWrap
    .header
      .infoHeader
        min-width: 300px
.file_list
  display: flex
  flex-direction: column
  height: calc(100% - 90px - 55px)
  overflow-x: hidden
  overflow-y: scroll


.previewFileWrap
  display: flex
  flex-direction: column
  align-items: center
  flex-grow: 1
  height: 100%
  scrollbar-width: thin
  scrollbar-color: #4086F1 #F5F5F5
  &::-webkit-scrollbar-track
    background: #0A3AAB
  &::-webkit-scrollbar-track
    -webkit-box-shadow: none
    background-color: #F5F5F5
  &::-webkit-scrollbar
    width: 7px
    background-color: #FFFFFF
  &::-webkit-scrollbar-thumb
    background-color: #4086F1
  .noSearchResults
    font-size: 14px
    font-family: "SF Pro Regular", sans-serif
    color: #878787
  .preview
    display: flex
    justify-content: center
    align-items: center
    width: 100%
    overflow: hidden
    margin-bottom: 35px
    .content
      text-align: center
      img
        width: 40px
    .big_pic
      max-width: 100%
    video
      max-width: 80%
      max-height: 90%
    iframe
      max-width: 80%
      width: 80%
      height: 90%
      max-height: 90%
    audio
      display: none
    .audioPicWrap
      display: flex
      justify-content: center
      align-items: center
      width: 100%
      height: 100%
      position: relative
      .audioPic
        max-width: 50%
        max-height: 90%
        height: 90%
      .audioSwitchPlay
        position: absolute
        width: 3%
        transform: rotateZ(180deg)
        cursor: pointer
      .audioSwitch
        position: absolute
        width: 5%
        cursor: pointer
  .fileName
    font-size: 14px
    font-family: "SF Pro Medium", sans-serif
    max-width: 85%
    overflow: hidden
    white-space: nowrap
    text-overflow: ellipsis
    margin: 0 0 10px 0
  .infoFileItem
    display: flex
    align-items: center
    justify-content: flex-start
    width: 100%
    margin: 0 0 10px 0
    .itemName
      font-size: 14px
      display: flex
      justify-content: flex-end
      width: 48%
      margin: 0 20px 0 0
      font-family: "SF Pro Light", sans-serif
    .optionItem:hover
      color: #4086F1
    .optionItem
      cursor: pointer
      color: lightgrey
    .tagName
      max-width: 40%
      font-size: 14px
      overflow: hidden
      white-space: nowrap
      text-overflow: ellipsis
      background: #4086F1
      border-radius: 10px
      padding: 1px 10px
      cursor: default
    .colorCircle
      width: 20px
      height: 20px
      border-radius: 50%
    .description
      font-size: 14px
      max-width: 40%
      overflow: hidden
      white-space: nowrap
      text-overflow: ellipsis
      font-family: "SF Pro Light", sans-serif

.contentWrapper
  height: calc(100% - 55px - 90px)
  display: flex

  .previewWrapper
    display: flex
    align-items: center
    justify-content: center
    height: 100%
    border-right: 1px solid #DFDFDF
    flex-grow: 1
    padding: 20px
    img
      max-width: 100%
      width: 400px

  .optionsWrapper
    padding: 65px 20px 30px 20px
    max-width: 300px
    min-width: 300px
    width: 300px
