.wrapper
  padding: 32px 20px
  display: flex
  flex-direction: column
  align-items: center

  .logo
    margin-bottom: 24px
    img
      width: 72px
      height: 23px

  .content
    max-width: 830px
    p
      font-size: 15px
      line-height: 23px
      font-family: 'SF Pro Light'
      color: #2B353E
      margin: 0

