.filePeriodEditWrap
  position: absolute
  top: 45px
  right: 0
  width: 392px
  height: 139px
  background: white
  border-radius: 5px
  box-shadow: 0 0 2px #c4c3c3
  box-sizing: border-box
  padding: 10px
  font-family: "SF Pro Regular", sans-serif
  font-size: 14px
  z-index: 1