.notificationsWrap
  position: relative
  cursor: pointer
  .counter
    display: flex
    justify-content: center
    align-items: center
    min-width: 10px
    width: max-content
    min-height: 10px
    height: max-content
    background: red
    border-radius: 50%
    font-size: 9px
    color: white
    position: absolute
    top: 0
    right: 0