@import "theme/theme"

.journalFileLine
  width: 100%
  display: flex
  align-items: center
  justify-content: space-between
  border-bottom: 1px solid $color-border-grey
  padding: 10px 20px
  cursor: pointer
  transition: background .3s ease
  color: $color-text-grey
  &:hover
    background: $color-blue-light
    .fileRights
      background: $color-white

  .fileAbout
    width: 200px
    display: flex
    align-items: center
    .icon
      min-width: 35px
      height: 40px
      position: relative
      margin: 0 20px 0 0
    .fileName
      font-size: 14px
      margin-bottom: 5px
    .fileDate
      font-size: 11px
      color: $color-text-grey-light
  .fileRights
    background: $color-blue-light
    border-radius: 20px
    font: inherit
    font-size: 13px
    white-space:  nowrap
    padding: 9px 18px
    transition: background .3s ease
    cursor: pointer
    color: $color-text-grey
    margin-right: 10px

  .users
    display: flex
    align-items: center;
    .userIcon
      margin-right: 18px
    .safe
      font-weight: 400
      font-size: 14px
  .open
  .buttonsBlock
