@import "theme/theme"

.journalFileLine
  width: 100%
  display: flex
  align-items: center
  justify-content: space-between
  border-top: 1px solid $color-border-grey
  padding: 10px 20px

  .fileAbout
    width: 200px
    display: flex
    align-items: center
    .icon
      min-width: 35px
      height: 40px
      position: relative
      margin: 0 20px 0 0
    .fileName
      font-size: 14px
      color: $color-text-grey
      margin-bottom: 5px
    .fileDate
      font-size: 11px
      color: $color-text-grey-light
  .fileRights

  .users
    .userIcon
    .safe
  .open
  .buttonsBlock
