.ShareFile_wrap
    display: flex
    flex-direction: column
    width: 660px
    height: max-content
    position: relative
    font-family: "SF Pro Light"
    font-size: 11px
    padding: 26px 20px 10px
    p
        font-size: 15px
        font-family: "SF Pro Text"
        color: #2B353E
        margin: 0
    .empty::placeholder
        color: red
    .buttonsWrap
        display: flex
        justify-content: space-between
        margin: 30px auto 0 auto
        width: 290px
        div
            display: flex
            justify-content: center
            align-items: center
            width: 140px
            height: 39px
            border-radius: 5px
            cursor: pointer
            font-size: 14px
        .cancel
            background: #e3e3e3
            border: 1px solid #e9e9e9
            color: grey
        .cancel:hover
            background: #fc7a7a
            color: white
        .buttonDisabled
            background: #e3e3e3
            border: 1px solid #e9e9e9
            color: grey
            cursor: default
        .add
            background: #477DE1
            border: 1px solid #477DE1
            color: white
        .add:hover
            background: #3b6dcb
    .border_bottom
        border-bottom: 0.75px solid #DFDFDF
    .header
        width: 100%
        height: 60px
        display: flex
        align-items: center
        padding-bottom: 18px

        box-sizing: border-box
        
        .innerFileWrap
            width: 41px
            position: relative
            display: flex
            margin: 0 19px 0 0
            .lock
                position: absolute
                width: 6px
                top: 3px
                left: calc(50% - 3px)
        .descriptionWrap
            .fileName
                display: block
                overflow: hidden
                white-space: nowrap
                text-overflow: ellipsis
                color: #2B353E
                width: 123px
                font-family: "SF Pro Text", sans-serif
                font-size: 16px
                line-height: 19px
                margin-bottom: 3px
            .innerFileInfo
                display: flex
                align-items: center
                justify-content: space-between
            .fileSize
                font-family: "SF Pro Regular", sans-serif
                font-size: 10px
                color: #8B8B8B
                white-space: nowrap
            .descriptionGroup
                display: flex
                .tagBlock
                    height: 14px
                .stag
                    padding: 1px 5px
                    margin-right: 9px
                    width: max-content
                    font-size: 10px
                    color: #fff
                    background: #34C6A2
                    border-radius: 10px
                    overflow: hidden
                    white-space: nowrap
                    text-overflow: ellipsis
                .fileTag
                    display: block
                    overflow: hidden
                    white-space: nowrap
                    text-overflow: ellipsis
                    max-width: 30px
                    font-family: "SF Pro Regular", sans-serif
                    font-size: 8px
                    color: #FFFFFF
                    background: rgb(0, 203, 165)
                    padding: 0 5px
                    border-radius: 5px
                    margin: 0 5px 0 0
                img
                    width: 13px
                    margin: 0 5px 0 0
                    object-fit: contain
    input
        font-family: inherit
        font-size: inherit
        border: none
        outline: none
        color: inherit
        box-sizing: border-box
        background: none
    input::placeholder,textarea::placeholder
        color: #9E9E9E
    #input_pass
        color: #979797
.recipient
    max-height: 52px
    justify-content: space-between
    .recipient_title
        margin-right: 16px
        font-size: 12px
    .recipient_mail
        width: 45%
        input
            width: 100%
    color: #606060
    display: flex
    align-items: center
    padding: 18px 0 18px 12px
    .recipient_messenger
        margin-left: auto
        span
            color: #2B353E
            border: 1px solid #E3E3E3
            border-radius: 28px
            padding: 8px 12px
            cursor: pointer
            background: #E6EDF8
            transition: color .2s ease, background .2s ease, border .2s ease
    .recipient_messenger:hover
        span
            border: 1px solid #4086F1
            background: #4086F1
            color: #fff
    .recipient_messenger:active
        opacity: .6
.comment
    height: 100px
    textarea
        resize: none
        width: 100%
        height: 100%
        padding: 12px
        box-sizing: border-box
        font-family: inherit
        font-size: inherit
        border: none
        outline: none
        color: inherit
.row_item
    padding: 12px 0
    position: relative
    display: flex
    align-items: center
    .switcher
        width: 29px
        height: 15px
        background: white
        border: 1px solid #D1D1D1
        border-radius: 10px
        display: flex
        align-items: center
        justify-content: flex-start
        transition: background 0.1s ease-in-out
        cursor: pointer
        position: absolute
        right: 20px
        top: calc(48% - 7.5px)
    .switcherActive
        width: 29px
        height: 15px
        border: 1px solid #D1D1D1
        border-radius: 10px
        display: flex
        background: white
        align-items: center
        justify-content: flex-start
        transition: background 0.1s ease-in-out
        cursor: pointer
        position: absolute
        right: 20px
        top: calc(48% - 7.5px)
    .switch
        width: 13px
        height: 13px
        background: #D1D1D1
        border-radius: 50%
        transform: translateX(9%)
        transition: transform 0.1s ease-in-out
    .switchActive
        width: 13px
        height: 13px
        background: #39B31E
        border-radius: 50%
        transform: translateX(115%)
        transition: transform 0.1s ease-in-out
    .input_wrap
        width: 73%
        .input_title
            line-height: 19px
        .input_descrp
            width: 100%
            font-size: 11px
            cursor: default
            color: #b1b1b1
            text-align: left
    .ico_wrap
        width: 50px
        height: 50px
        display: flex
        justify-content: center
        align-items: center
        border-radius: 50%
        background: #ebf7e8
        margin: 0 15px 0 0
        flex: 0 0 50px

    p
        margin: 0  0 5px
    .set_btn
        color: #2B353E
        cursor: pointer
        margin-left: auto
        align-self: center
        padding: 8px 37px
        background: #E6EDF8
        border-radius: 28px
    .set_btn:hover
        background: #4086F1
        color: #fff
    .set_btn:active
        opacity: .5
.share_link
    padding-bottom: 10px
    .share_link_title
        font-size: 12px
        font-family: "SF Pro Text"
        padding: 0 12px
        margin: 17px 0 12px 0
        color: #2B353E
    .row_item
        padding: 5px 0
        .row_ico path
            fill: #979797
