.wrapper
  width: 100%
  display: flex
  align-items: center
  justify-content: space-between
  .title 
    font-family: SF PRO REGULAR
    margin: 0
    font-size: 13px
    line-height: 16px
    letter-spacing: -0.06px
    color: #49494B
    outline: none
    border: none
    padding: 0
    white-space: nowrap
    width: 90%
    text-align: center
    &::placeholder
      font-family: SF PRO REGULAR
      font-size: 13px
      line-height: 16px
      letter-spacing: -0.06px
      color: #49494B
    &:focus::placeholder
      color: #fff
  .arrow
    cursor: pointer
    path
      fill: rgba(64, 134, 241, 1)