.sideBar
  width: 240px
  min-width: 240px
  height: 100%
  background: #fff

  .addContact
    display: flex
    align-items: center
    padding: 7px 20px
    border-bottom: 1px solid #F0F0F0
    transition: background-color 0.2s
    cursor: pointer
    height: 49px
    &:hover
      background: rgba(64, 134, 241, 0.1)
    .text
      font-size: 13px
      color: #49494B
    .iconWrap
      background: #F6F6F6
      border-radius: 50%
      width: 30px
      height: 30px
      display: flex
      align-items: center
      justify-content: center
      margin-right: 12px
  .active
    background: rgba(64, 134, 241, 0.1)
  .search
    display: flex
    justify-content: center
    align-items: center
    padding: 10px
    border-bottom: 1px solid #F0F0F0
  .contactListWrap
    height: calc(100% - 102px)


  .contactList
    list-style: none
    width: 100%
    margin: 0
    padding: 0
    overflow-y: auto
    height: 100%
    scrollbar-width: thin
    scrollbar-color: #4086F1 #F5F5F5
    &::-webkit-scrollbar-track
      background: #0A3AAB
    &::-webkit-scrollbar-track
      -webkit-box-shadow: none
      background-color: #F5F5F5
    &::-webkit-scrollbar
      width: 2px
      background-color: #FFFFFF
    &::-webkit-scrollbar-thumb
      background-color: #4086F1

    .group
      font-size: 13px
      line-height: 49px
      color: #49494B
      font-family: inherit
      padding: 0 20px
      background: #F9F9F9
      margin: 0
      border-bottom: 1px solid #F0F0F0



