.centeredWrapper
  padding: 30px 0
  display: flex
  align-items: center
  justify-content: center
  min-height: 100%

.wrapper
  padding: 19px 25px 32px 25px
  width: 500px
  height: auto
  background: #FFFFFF
  border-radius: 6px
  filter: drop-shadow(0px 2px 4px rgba(140, 140, 140, 0.5))

  .header
    text-align: center
    p
      margin: 0
      font-weight: 500
      font-size: 16px
      line-height: 19px
      letter-spacing: -0.0738187px
      color: #2B353E
    img
      width: 40px
      height: 40px
      margin-bottom: 14px


  .infoBlock
    margin: 15px auto
    p
      font-weight: normal
      font-size: 12px
      line-height: 18px
      text-align: center
      letter-spacing: -0.0629137px
      color: #B0B0B0


  .labelText
    display: inline-block
    font-weight: normal
    font-size: 12px
    line-height: 14px
    letter-spacing: -0.0629137px
    color: #20272E
    margin-bottom: 7px

  .uploadBlock
    border: 0.5px dashed #CDCDCD
    border-radius: 3.75px
    padding: 16px 0
    transition: all 0.3s ease
    &:hover
      border-color: #555
      transition: all 0.3s ease

    .uploadText
      font-size: 12px
      line-height: 18px
      text-align: center
      letter-spacing: -0.0629137px
      color: #B0B0B0
      margin: 0 auto
      width: 138px
      label
        cursor: pointer
        color: rgba(64, 134, 241, 1)

    input
      display: none


  .actionBlock
    display: flex
    justify-content: center

    button
      width: 142px
      height: 38px
      display: flex
      align-items: center
      justify-content: center
      font-weight: 500
      font-size: 12px
      line-height: 14px
      letter-spacing: -0.0768945px
      color: #FFF
      background: rgba(64, 134, 241, 1)
      border-radius: 3.75px
      margin-left: 5px
    .cancelBtn
      color: #A4A4A4
      margin-right: 5px
      background: #F5F5F5