.wrapper
  overflow: hidden
  height: 100%
  display: flex
  font-family: "SF Pro Light", sans-serif
  letter-spacing: -0.06px
  .workAreaWrap
    height: 100%
    width: 100%
    overflow: hidden
    flex-grow: 1
    .header
      display: flex
      align-items: center
      justify-content: space-between
      height: 90px
      border-bottom: 1px solid #e5e5e5
      box-sizing: border-box
      padding: 0 39px 0 17px
    .infoHeader
      display: flex
      justify-content: space-between
      align-items: center
      min-width: 340px
      width: 400px
      max-width: 400px
    .fileActionWrap
      width: 66px
      height: 75px
      position: relative
    .workSpace
      display: flex
      height: 100%
      .filePreviewWrap
        width: 65%
      .filesList
        width: 100%
        overflow-y: scroll
        height: 100%
        scrollbar-width: auto
        scrollbar-color: #4086F1 #F5F5F5
        &::-webkit-scrollbar-track
          background: #0A3AAB
        &::-webkit-scrollbar-track
          -webkit-box-shadow: none
          background-color: #F5F5F5
        &::-webkit-scrollbar
          width: 12px
          background-color: #FFFFFF
        &::-webkit-scrollbar-thumb
          background-color: #4086F1

      

