.workBarsWrap::-webkit-scrollbar
  width: 0
.workBarsWrap
  display: flex
  width: 100%
  height: calc(100% - 90px - 55px)
  overflow-x: hidden
  overflow-y: scroll
  box-sizing: border-box
  padding: 10px 15px
  .addFile
    display: flex
    flex-direction: column
    justify-content: flex-start
    align-items: center
    width: 175px
    height: 185px
    border: 1px dashed #cacaca
    border-radius: 3px
    position: relative
    background: #fafafa
    box-sizing: border-box
    padding: 57px 0 0 0
    cursor: pointer
    input
      opacity: 0
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      cursor: pointer
    .addIcon
      margin: 0 0 23px 0
    .addIcon path
      transition: fill 0.2s ease-in-out
    span
      font-size: 10px
      text-align: center
      width: 120px
    input:hover ~ .addIcon path
      fill: #477DE1
      transition: fill 0.2s ease-in-out
  .textAddIcon
    margin: 30px 0 0 30px
    width: 375px
    height: 142px
