.ShareFile_wrap
    .border_bottom
        border-bottom: 0.75px solid #DFDFDF
    display: flex
    flex-direction: column
    width: 30vw
    height: 50vh
    min-width: 521px
    min-height: 550px
    position: relative
    font-family: "SF Pro Regular"
    font-size: 11px
    .header
        width: 100%
        height: 60px
        display: flex
        align-items: center
        padding: 0 20px
        
        box-sizing: border-box
        .buttons_wrap
            display: flex
            margin-left: auto
            .file_menu
                position: relative
                display: flex
                width: 20px
                margin-right: 10px
                align-self: stretch
                align-items: center
                justify-content: center
                cursor: pointer
                min-height: 20px
            .file_menu:hover .dots
                background: #4086F1
            .dots,.dots::before,.dots::after
                content: ''
                position: absolute
                width: 3px
                height: 3px
                border-radius: .75px
                background: inherit
            .dots
                position: relative
                background: #D8D8D8
            .dots::before
                transform: translateY(-7px)
            .dots::after
                transform: translateY(7px)
                background: inherit
        .close_wrap
            position: relative
            width: 20px
            height: 20px
            cursor: pointer
        .close_wrap:hover
            .close
                background: #4086F1
        .close
            position: absolute
            top: 10px
            width: 16px
            height: 2px
            background: #c7c7c7
            transform: rotate(45deg)
        .close:before
            content: ''
            position: absolute
            top: 0
            right: 0
            width: 16px
            height: 2px
            background: inherit
            transform: rotate(90deg)
        .innerFileWrap
            width: 27px
            height: 30px
            position: relative
            display: flex
            margin: 0 10px 0 0
        .descriptionWrap
            .fileName
                display: block
                overflow: hidden
                white-space: nowrap
                text-overflow: ellipsis
                color: #606060
                width: 123px
                font-family: "SF Pro Bold", sans-serif
                font-size: 12px
                margin-bottom: 3px
            .innerFileInfo
                display: flex
                align-items: center
                justify-content: space-between
            .fileSize
                font-family: "SF Pro Regular", sans-serif
                font-size: 10px
                color: #8B8B8B
                white-space: nowrap
            .descriptionGroup
                display: flex
                .fileTag
                    display: block
                    overflow: hidden
                    white-space: nowrap
                    text-overflow: ellipsis
                    max-width: 30px
                    font-family: "SF Pro Regular", sans-serif
                    font-size: 8px
                    color: #FFFFFF
                    background: rgb(0, 203, 165)
                    padding: 0 5px
                    border-radius: 5px
                    margin: 0 5px 0 0
                img
                    width: 13px
                    margin: 0 5px 0 0
                    object-fit: contain
    input
        font-family: inherit
        font-size: inherit
        border: none
        outline: none
        color: inherit
        box-sizing: border-box
        background: none
.recipient
    .recipient_title
        margin-right: 28px
    color: #606060
    display: flex
    align-items: center
    padding: 12px 20px
    .recipient_messenger
        margin-left: auto
        input
            border: 1px solid #E3E3E3
            border-radius: 4px
            padding: 11px 7px
            cursor: pointer
            transition: color .2s ease, background .2s ease, border .2s ease
    .recipient_messenger:hover
        input
            border: 1px solid #4086F1
            background: #4086F1
            color: #fff
    .recipient_messenger:active
        opacity: .6
.comment
    height: 145px
    textarea
        resize: none
        width: 100%
        height: 100%
        padding: 16px 20px
        box-sizing: border-box
        font-family: inherit
        font-size: inherit
        border: none
        outline: none
        color: inherit                
.row_item
    padding: 13px 18px
    .input_wrap
        width: 70%
        .input_title
            color: #606060
        input
            width: 100%
            font-size: 9px
            cursor: pointer
            color: #979797
            padding: 0 2px
            text-align: left
    .ico_wrap
        width: 20px
        margin-right: 3px
    p
        margin: 0  0 5px
    display: flex
    align-items: flex-start
    .input_submit
        color: #4086F1
        cursor: pointer
        margin-left: auto
        align-self: center
    .input_submit:hover
        opacity: .9
        text-decoration: underline
    .input_submit:active
        opacity: .5
.share_link
    .share_link_title
        color: #606060
        font-size: 11px
        font-family: "SF Pro Bold"
        padding: 0 20px
    .row_item
        .row_ico path
            fill: #979797