.wrapper


.searchWrap
  display: flex
  align-items: center
  justify-content: space-between
  padding: 20px 20px 10px 20px

.select
  box-shadow: none
  border-radius: 3px
  border: 1px solid #4086F1
  .selectContent
    font-size: 12px
    line-height: 14px
    height: 100%
    display: flex
    align-items: center
    padding: 0 10px
    color: #666666

.selectsWrap
  display: flex

.yearSelect
  margin-right: 10px
  width: 121px
  height: 32px

  .selectContentYear
    margin-right: 10px
    font-size: 12px
    line-height: 14px
    height: 100%
    display: flex
    justify-content: center
    align-items: center
    padding: 0 10px
    color: #666666

.daySelect
  min-width: 109px
  height: 32px

.buttonsWrap
  padding: 10px 15px 10px 15px
  display: flex
  justify-content: space-between

  .button.active
    background: rgba(64, 134, 241, 0.1)
    transition: background-color 0.2s ease-in-out
    border: 1px solid #4086F1

  .button
    display: block
    overflow: hidden
    white-space: nowrap
    text-overflow: ellipsis
    border: 1px solid transparent
    cursor: pointer
    width: 171px
    height: 34px
    background: #ffffff
    border-radius: 3px
    padding: 0 10px
    font-family: inherit
    margin: 0 5px
    color: #666666
    font-size: 12px
    box-shadow: 0 2px 4px #dedede
    transition: background-color 0.2s ease-in-out
    &:hover
      background: rgba(64, 134, 241, 0.1)
      transition: background-color 0.2s ease-in-out


.search
  position: relative
  width: 284px

  .icon
    position: absolute
    width: 16px
    height: 16px
    top: calc(16px / 2)
    right: 17px

  .input
    font-size: 12px
    line-height: 15px
    font-family: inherit
    color: #AEAEAE

    width: 100%
    height: 32px
    background: #F7F7F7
    border-radius: 20px
    border: none
    padding: 0 25px

    &::placeholder
      font-size: 10px
      line-height: 12px
      font-family: inherit


.collapseHeader
  display: flex
  align-items: center

  .dateName
    font-size: 14px
    line-height: 17px
    color: #606060

  .arrowFile
    cursor: pointer
    width: 30px
    img
      transform: rotate(-90deg)

  .collapseBtn
    margin: 0 12px
    display: block
    overflow: hidden
    white-space: nowrap
    text-overflow: ellipsis

    cursor: pointer
    width: 121px
    height: 32px
    border: none
    background: rgba(64, 134, 241, 0.1)
    border-radius: 16px
    padding: 0 10px
    font-family: inherit
    color: #666666
    font-size: 12px
    box-shadow: 0 2px 4px #dedede
    transition: background-color 0.2s ease-in-out