@import src/theme/theme
.wrap
    width: 100%
    .list
        border-top: 1px solid $color-grey-secondary
        border-bottom: 1px solid $color-grey-secondary
        padding: 20px 36px
        height: 230px
        overflow-y: auto
        margin: 0 0 8px 0
        .comment
            background: #F9F9F9
            box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1)
            border-radius: 8px
            width: max-content
            max-width: 100%
            padding: 8px 10px
            margin: 0 0 20px 0
            font-size: 12px
            line-height: 16px
.managementPanel
    padding-left: 23px
    border-bottom: 1px solid $color-grey-secondary
    & button
        padding: 13px
.fielsdWrap
    margin: 12px 24px
    display: flex
    align-items: center
    .messageBox
        display: flex
        flex: 1
        border-left: 1px solid $color-grey-secondary
        border-right: 1px solid $color-grey-secondary
        padding: 10px 18px
        margin-right: 20px
        .textarea
            outline: 0
            border: none
            resize: none
            width: 100%
            font-size: 11px
            line-height: 16px
            font-family: "SF Pro Text", sans-serif
            letter-spacing: 0.023em
            padding: 0
            margin-right: 10px
        .sendIcon
            cursor: pointer
        .sendIcon path
            fill: $color-grey
        .active path
            fill: $color-primary

    .btn
        width: 34px
        height: 34px
        border-radius: 50%
        border: 1px solid $color-primary
        display: flex
        justify-content: center
        align-items: center
        margin: 0 7px
        &:hover
            background: $color-primary

        &:hover .icon path
            fill: $color-white
        &:hover .playIcon path
            fill: $color-white
        & .icon path
            fill: $color-grey
        .playIcon
            transform: scaleX(-1)
.buttonWrap
    display: flex
    gap: 10px
    justify-content: center
    padding: 30px 0
    border-top: 1px solid $color-grey-secondary
